<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="carousel" th:fragment="carousel" th:if="${!#lists.isEmpty(season) AND !#lists.isEmpty(sponsorList)}">
    <script src="/glide/dist/glide.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="/carousel.css">
    <div class="images glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                <li th:each="sponsor : ${sponsorList}" class="glide__slide">
                    <a th:href="${sponsor.sponsorUrl}">
                        <img th:src="${sponsor.logoImageUrl}" th:alt="${sponsor.sponsorUrl}" src="">
                        <img th:src="${sponsor.logoImageUrlDark}" th:alt="${sponsor.sponsorUrl}" src="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-arrow-left"></i></button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>

    <script>
      new Glide(".images", {
        type: 'carousel',
        perView: 5,
        focusAt: 'center',
        gap: 20,
        autoplay: 2000,
        hoverpause: true,
        breakpoints: {
          1200:{
            perView: 5
          },
          800:{
            perView: 3
          }
        }
      }).mount();
    </script>
</div>
</body>
</html>