<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer-container landing-container">
        <div class="footer-powered">
            <a href="https://wisehands.me">
                <img src="/logo/logo2-dark.png">
                <p>Powered by WiseHands</p>
            </a>
        </div>
<!--        <div class="footer-item">
            <div class="footer-logo">
                <a href="https://footgo-league.com">
                    <img src="/img/footgo-light-icon.png">
                    <p>FootGo</p>
                </a>
            </div>
            <div class="footer-address">
            </div>
        </div>-->
        <div class="footer-social">
            <a href="https://www.facebook.com/footgo.league"><i class="fa fa-facebook-f" style="font-size:32px"></i></a>
            <a href="https://www.youtube.com/channel/UCPwBO3BB-p5Ankbo_A1iRKA"><i class="fa fa-youtube-play" style="font-size:36px"></i></a>
        </div>
    </div>
<!--    <div class="footer-bottom landing-container">

    </div>-->
</footer>
</body>
</html>