<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer th:fragment="footer">
    <script src="https://kit.fontawesome.com/9983a3a0dd.js" crossorigin="anonymous"></script>
    <div class="footer-container landing-container">
        <div class="footer-powered">
            <a href="https://wisehands.me">
                <img src="/logo/logo2-dark.png">
                <p th:text="#{poweredBy}"></p>
            </a>
        </div>
<!--        <div class="footer-item">
            <div class="footer-logo">
                <a href="https://footgo-league.com">
                    <img src="/img/footgo-light-icon.png">
                    <p>FootGo</p>
                </a>
            </div>
            <div class="footer-address">
            </div>
        </div>-->
<!--        <div class="footer-shop">
            <a href="https://footgo-league.wstore.pro/" target="_blank"><i class="fas fa-shopping-bag" style="font-size:32px"></i><p th:text="#{shop}"></p></a>
        </div>-->
        <div class="footer-social">
            <a href="https://t.me/footgoleague"><i class="fab fa-telegram"></i></a>
            <a href="https://www.instagram.com/footgo.league"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/footgo.league"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/channel/UCPwBO3BB-p5Ankbo_A1iRKA"><i class="fab fa-youtube-square"></i></a>
            <a href="https://footgo-league.wstore.pro" target="_blank"><i class="fas fa-shopping-bag"></i></p></a>
        </div>
    </div>
<!--    <div class="footer-bottom landing-container">
    </div>-->
</footer>
</body>
</html>