<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="header">
    <div class="header-full">
        <div class="header-first-block">
            <div class="header-icon">
                <a href="/"><img class="header-img" src="/img/footgo-light-icon.png" alt="wiselogo"></a>
            </div>
            <div class="header-null">
                <a href="javascript:void(0)" class="icon" onclick="myFunction()">
                    <i class="hamburger fa fa-bars"></i>
                </a>
            </div>
            <div class="header-text">
                <a href="/signup" th:if="${not #lists.isEmpty(season) AND season.getIsSubmissionOpened() == false}"><p th:text="#{signup}"></p></a>
                <!-- menu button season changer -->
                <div th:if="${not #lists.isEmpty(season)}" class="season-list">
                    <button th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" class="dropbtn">
                        <span th:text="${season.nameEn}"></span>
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    <button th:if="${#locale.language == 'uk'}" class="dropbtn">
                        <span th:text="${season.name}"></span>
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    <div class="prev-seasons">
                        <a th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}"
                           th:each="season : ${seasonList}" th:href="'/season/' + ${season.id}"
                           th:text="${season.nameEn}">
                        </a>
                        <a th:if="${#locale.language == 'uk'}"
                           th:each="season : ${seasonList}"
                           th:href="'/season/' + ${season.id}"
                           th:text="${season.name}">
                        </a>
                        <!--<a th:text="#{autumn2019}" href="https://2019.footgo-league.com" target="_blank"></a>-->
                    </div>
                </div>
                <div th:if="${#lists.isEmpty(season)}" class="season-list">
                    <button class="dropbtn">
                        <span th:text="#{seasonListEmpty}"></span>
                        <i class="fas fa-chevron-down"></i>
                    </button>
<!--                    <div class="prev-seasons">
                        <a th:text="#{autumn2019}" href="https://2019.footgo-league.com" target="_blank"></a>
                    </div>-->
                </div>
                <div th:if="${!#lists.isEmpty(leagueList) AND !#lists.isEmpty(season) AND season.getIsSubmissionOpened() == true AND #lists.size(leagueList) >= 3}" class="season-list">
                    <button class="dropbtn"></button>
                    <span th:text="#{leagues}"></span>
                    <i class="fas fa-chevron-down"></i>
                    <div class="prev-seasons">
                        <a th:each="league : ${leagueList}" th:href="'/' + ${season.id} + '/league/' + ${league.id}" th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${league.nameEn}"></a>
                        <a th:each="league : ${leagueList}" th:href="'/' + ${season.id} + '/league/' + ${league.id}" th:if="${#locale.language == 'uk'}" th:text="${league.name}"></a>
                    </div>
                </div>
                <div th:if="${!#lists.isEmpty(cupList) AND !#lists.isEmpty(season) AND season.getIsSubmissionOpened() == true AND #lists.size(leagueList) >= 3}" class="season-list">
                    <button class="dropbtn">
                        <span th:text="#{cups}"></span>
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    <div class="prev-seasons">
                        <a th:each="cup : ${cupList}" th:href="'/' + ${season.id} + '/cup/' + ${cup.id}" th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${cup.nameEn}"></a>
                        <a th:each="cup : ${cupList}" th:href="'/' + ${season.id} + '/cup/' + ${cup.id}" th:if="${#locale.language == 'uk'}" th:text="${cup.name}"></a>
                    </div>
                </div>
                <div th:if="${!#lists.isEmpty(leagueList) AND !#lists.isEmpty(season) AND season.getIsSubmissionOpened() == true AND #lists.size(leagueList) <= 2}" th:each="league : ${leagueList}">
                    <a th:href="'/' + ${season.id} + '/league/' + ${league.id}">
                        <p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${league.nameEn}"></p>
                        <p th:if="${#locale.language == 'uk'}" th:text="${league.name}"></p>
                    </a>
                </div>
                <div th:if="${!#lists.isEmpty(cupList) AND !#lists.isEmpty(season) AND season.getIsSubmissionOpened() == true AND #lists.size(cupList) <= 2}" th:each="cup : ${cupList}">
                    <a th:href="'/' + ${season.id} + '/cup/' + ${cup.id}">
                        <p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${cup.nameEn}"></p>
                        <p th:if="${#locale.language == 'uk'}" th:text="${cup.name}"></p>
                    </a>
                </div>
                <div th:if="${!#lists.isEmpty(season) AND !#lists.isEmpty(sponsorList)}" class="season-list">
                    <button class="dropbtn">
                        <span th:text="#{sponsors}"></span>
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    <div class="prev-seasons">
                        <a th:each="sponsor : ${sponsorList}" th:href="'/season/' + ${season.id} + '/sponsor/' + ${sponsor.id}" th:text="${sponsor.sponsorName}"></a>
                        <!--<a th:text="#{becomeASponsor}" th:href="'/season/' + ${season.id} + '/sponsor/new'"></a>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="header-right-block">
            <div th:replace="fragments/signInWidget :: signInWidget"></div>
            <div th:replace="fragments/languageWidget :: languageWidget"></div>
        </div>
    </div>
    <div id="myLinks">
        <div th:if="${!#lists.isEmpty(season) AND season.getIsSubmissionOpened() == false}"><a th:text="#{signup}" class="link-item" href="/signup"></a></div>
        <div>
            <a class="link-item" href="/">
                <p th:text="#{home}"></p>
            </a>
        </div>
        <!-- menu button season changer -->
        <div th:if="${!#lists.isEmpty(season)}" class="season-list">
            <button th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" class="dropbtn">
                <span th:text="${season.nameEn}"></span>
                <i class="fas fa-chevron-down"></i>
            </button>
            <button th:if="${#locale.language == 'uk'}" class="dropbtn">
                <span th:text="${season.name}"></span>
                <i class="fas fa-chevron-down"></i>
            </button>
            <div class="prev-seasons">
                <a th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:each="season : ${seasonList}" th:href="'/season/' + ${season.id}" th:text="${season.nameEn}"></a>
                <a th:if="${#locale.language == 'uk'}" th:each="season : ${seasonList}" th:href="'/season/' + ${season.id}" th:text="${season.name}"></a>
<!--                <a th:text="#{autumn2019}" href="https://2019.footgo-league.com" target="_blank"></a>-->
            </div>
        </div>
        <div th:if="${#lists.isEmpty(season)}" class="season-list">
            <button class="dropbtn">
                <span th:text="#{seasonListEmpty}"></span>
                <i class="fas fa-chevron-down"></i>
            </button>
<!--            <div class="prev-seasons">
                <a th:text="#{autumn2019}" href="https://2019.footgo-league.com" target="_blank"></a>
            </div>-->
        </div>
        <div th:if="${!#lists.isEmpty(leagueList) AND !#lists.isEmpty(season) AND season.getIsSubmissionOpened() == true}">
            <a class="link-item" th:each="league : ${leagueList}" th:href="'/' + ${season.id} + '/league/' + ${league.id}" th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${league.nameEn}"></a>
            <a class="link-item" th:each="league : ${leagueList}" th:href="'/' + ${season.id} + '/league/' + ${league.id}" th:if="${#locale.language == 'uk'}" th:text="${league.name}"></a>
        </div>
        <div th:if="${!#lists.isEmpty(cupList) AND !#lists.isEmpty(season) AND season.getIsSubmissionOpened() == true}">
            <a class="link-item" th:each="cup : ${cupList}" th:href="'/' + ${season.id} + '/cup/' + ${cup.id}" th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${cup.nameEn}"></a>
            <a class="link-item" th:each="cup : ${cupList}" th:href="'/' + ${season.id} + '/cup/' + ${cup.id}" th:if="${#locale.language == 'uk'}" th:text="${cup.name}"></a>
        </div>
        <div th:if="${!#lists.isEmpty(season) AND !#lists.isEmpty(sponsorList)}" class="season-list">
            <button class="dropbtn">
                <span th:text="#{sponsors}"></span>
                <i class="fas fa-chevron-down"></i>
            </button>
            <div class="prev-seasons">
                <a th:each="sponsor : ${sponsorList}" th:href="'/season/' + ${season.id} + '/sponsor/' + ${sponsor.id}" th:text="${sponsor.sponsorName}"></a>
                <!--<a th:text="#{becomeASponsor}" th:href="'/season/' + ${season.id} + '/sponsor/new'"></a>-->
            </div>
        </div>
        <!--        <div th:if="${not #lists.isEmpty(leagueList) AND not #lists.isEmpty(season) AND season.getIsSubmissionOpened() == true}" class="season-list">
                    <button th:text="#{leagues}" class="dropbtn"></button>
                    <div class="prev-seasons">
                        <a th:each="league : ${leagueList}" th:href="'/league/' + ${league.id}" th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${league.nameEn}"></a>
                        <a th:each="league : ${leagueList}" th:href="'/league/' + ${league.id}" th:if="${#locale.language == 'uk'}" th:text="${league.name}"></a>
                    </div>
                </div>
                <div th:if="${not #lists.isEmpty(cupList) AND not #lists.isEmpty(season) AND season.getIsSubmissionOpened() == true}" class="season-list">
                    <button th:text="#{cups}" class="dropbtn"></button>
                    <div class="prev-seasons">
                        <a th:each="cup : ${cupList}" th:href="'/cup/' + ${cup.id}" th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${cup.nameEn}"></a>
                        <a th:each="cup : ${cupList}" th:href="'/cup/' + ${cup.id}" th:if="${#locale.language == 'uk'}" th:text="${cup.name}"></a>
                    </div>
                </div>-->
    </div>
</header>
</body>
</html>