<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Admin Page</title>
        <link rel="stylesheet" href="../../../admin.css">
        <link rel="shortcut icon" href="/img/footgo-dark-icon.png" type="image/x-icon">

    </head>
    <body>
        <div class="admin-main">
            <div class="admin-logo">
                <img class="admin-img" src="/img/footgo-dark-icon.png" alt="logo">
            </div>
        </div>

    <p class="admin-tour-title">Тур 1</p>


        <div class="tour-match">
            <div class="tour-team1"><p>Команда 1</p><span id="myBtn">+</span></div>
            <div class="tour-score"><span id="goalBtn"><p>0 : 0</p></span></div>
            <div class="tour-team2"><span id="myBtn">+</span><p>Команда 2</p></div>
        </div>

        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Гол</h2>
                </div>
                <div class="modal-body">
                    <div class="goal-minute">
                        <p>Хвилина</p>
                        <input type="text" name="minute">
                    </div>
                    <div class="goal-author">
                        <p>Автор</p>
                        <select>
                            <option value="">Гравець1</option>
                            <option value="">Гравець1</option>
                            <option value="">Гравець1</option>
                            <option value="">Гравець1</option>
                            <option value="">Гравець1</option>
                            <option value="">Гравець1</option>
                            <option value="">Гравець1</option>
                            <option value="">Гравець1</option>
                            <option value="">Гравець1</option>
                            <option value="">Гравець1</option>
                        </select>
                    </div>
                </div>
                <div class="goal-add">
                    <input class="main-input-button" type="button" value="Додати">
                </div>
            </div>
        </div>

        <div id="goalModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modal-goal">
                    <div class="team1-goal">
                        <h3>Команда 1</h3>
                        <p><img src="../../../img/soccer-ball.png">Гравець, 32'<span>-</span></p>
                        <p><img src="../../../img/soccer-ball.png">Гравець, 32'<span>-</span></p>
                        <p><img src="../../../img/soccer-ball.png">Гравець, 32'<span>-</span></p>
                    </div>

                    <div class="team2-goal">
                        <h3>Команда 2</h3>
                        <p><img src="../../../img/soccer-ball.png">Гравець, 66'<span>-</span></p>
                        <p><img src="../../../img/soccer-ball.png">Гравець, 66'<span>-</span></p>
                        <p><img src="../../../img/soccer-ball.png">Гравець, 66'<span>-</span></p>
                        <p><img src="../../../img/soccer-ball.png">Гравець, 66'<span>-</span></p>
                    </div>
                </div>
                <div class="send-match-result">
                    <input type="button" value="Завершити матч">
                </div>
            </div>

        </div>

    <script>
        const path = location.toString();
        let url = new URL(path);
        let searchParams = new URLSearchParams(url.search);

        const id = searchParams.get('uuid');

        let apiUrl = '/match/' + id;
        fetch(apiUrl, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          }
        }).then(function(response){
            console.log(response)
            return  response.json();
        }).then(function(data) {
            console.log(data);
        });
    </script>
    </body>
</html>