<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Admin | FootGo League</title>
        <link rel="stylesheet" href="../../../admin.css">
        <link rel="shortcut icon" href="/img/footgo-dark-icon.png" type="image/x-icon">

    </head>
    <body>
        <div class="main-container">
            <div class="admin-main">
                <div class="admin-logo">
                    <a href="/admin"><img class="admin-img" src="/img/footgo-dark-icon.png" alt="logo"></a>
                </div>
            </div>
            <div class="requests">
                <div class="all-requests">
                    <a class="link-style" href="/admin/submission">
                        <div class="request-block">
                            <h3>Заявки</h3>
                        </div>
                    </a>
                    <a class="link-style" href="/admin/team">
                        <div class="request-block">
                            <h3>Команди</h3>
                        </div>
                    </a>
                    <a class="link-style" href="/admin/tour">
                        <div class="request-block">
                            <h3>Тури</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>