<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Admin | FootGo League</title>
    <link rel="stylesheet" href="../../../../../../../admin.css">
    <link rel="shortcut icon" href="/img/footgo-dark-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:inline="javascript">let cupId = /*[[${cup.id}]]*/;</script>

</head>
<body>
<div class="main-container">
    <div class="admin-main">
        <div class="admin-logo">
            <a href="/admin"><img class="admin-img" src="/img/footgo-dark-icon.png" alt="logo"></a>
        </div>
    </div>
    <ul class="menu-breadcrumb">
        <li><a href="/admin">Турніри</a></li>
        <li><a th:href="'/admin/tournament/' + ${tournamentId}" th:text="${tournament.name}"></a></li>
        <li><a th:href="'/admin/tournament/' + ${tournamentId} + '/seasons'">Всі сезони</a></li>
        <li><a th:href="'/admin/tournament/' + ${tournamentId} + '/season/' + ${seasonId}" th:text="${season.name}"></a></li>
        <li><a th:href="'/admin/tournament/' + ${tournamentId} + '/season/' + ${seasonId} + '/cuplist'">Кубок</a></li>
        <li><a th:href="'/admin/tournament/' + ${tournamentId} + '/season/' + ${seasonId} + '/cuplist/' + ${cup.id}" th:text="${cup.name}"></a></li>
    </ul>
    <div class="requests">
        <div class="all-requests">
            <div>
                <a th:href="'/admin/tournament/' + ${tournamentId} + '/season/' + ${seasonId} + '/cuplist/' + ${cup.id} + '/team'" class="link-style"
                   href="/admin/team">
                    <div class="request-block">
                        <h3>Команди</h3>
                    </div>
                </a>
            </div>
            <div>
                <a th:href="'/admin/tournament/' + ${tournamentId} + '/season/' + ${seasonId} + '/cuplist/' + ${cup.id} + '/tour'" class="link-style">
                    <div class="request-block">
                        <h3>Тури</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>