<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Заявки на участь | FootGo</title>
        <link rel="stylesheet" href="../../../admin.css">
        <link rel="shortcut icon" href="/img/footgo-dark-icon.png" type="image/x-icon">
        <script src="/submissionAll.js" type="text/javascript"></script>
        <script src="/changeSubmissionStatus.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="admin-main">
            <div class="admin-logo">
                <a href="/admin"><img class="admin-img" src="/img/footgo-dark-icon.png" alt="logo"></a>
            </div>
        </div>
        <div class="requests">
            <p>Заявки</p>
                <div class="all-requests">
                    <div th:each="item : ${submissions}">
                        <a th:attr="href=${'/admin/submission/edit?uuid=' + item.id}" class="link-style">
                            <div class="request-block">
                                <h3 th:text="${item.teamName}"></h3>
                                <p th:text="${item.captainName}"></p>
                            </div>
                        </a>
                    </div>
                </div>
        </div>
        <p class="label-check-text">Прийом заявок завершено</p>
        <div class="label-check-center">
            <input type="checkbox" id="request-over" name="request-over" style="display:none">
            <label for="request-over" class="toggle"><span></span></label>
        </div>
    </body>
</html>