<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Admin | FootGo League</title>
        <link rel="stylesheet" href="../../../../admin.css">
        <link rel="shortcut icon" href="/img/footgo-dark-icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <div class="main-container">
            <div class="admin-main">
                <div class="admin-logo">
                    <a href="/admin"><img class="admin-img" src="/img/footgo-dark-icon.png" alt="logo"></a>
                </div>
            </div>
            <ul class="menu-breadcrumb">
                <li><a href="/admin">Турніри</a></li>
                <li><a th:href="'/admin/tournament/' + ${tournament.id}" th:text="${tournament.name}"></a></li>
                <li><a th:href="'/admin/tournament/' + ${tournament.id} + '/seasons'" th:text="Сезони"></a></li>
                <li><a th:href="'/admin/tournament/' + ${tournament.id} + '/season/' + ${season.id}" th:text="${season.name}"></a></li>
            </ul>
            <div class="requests">
                <div class="all-requests">
                    <div>
                        <a th:href="'/admin/tournament/' + ${tournament.id} + '/season/' + ${season.id} + '/submission'" class="link-style">
                            <div class="request-block">
                                <h3>Заявки</h3>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a th:href="'/admin/tournament/' + ${tournament.id} + '/season/' + ${season.id} + '/team'" class="link-style">
                            <div class="request-block">
                                <h3>Команди</h3>
                            </div>
                        </a>
                    </div>
<!--                    <a class="link-style" href="/admin/tour">-->
<!--                        <div class="request-block">-->
<!--                            <h3>Тури</h3>-->
<!--                        </div>-->
<!--                    </a>-->
                    <div>
                        <a th:href="'/admin/tournament/' + ${tournament.id} + '/season/' + ${season.id} + '/leaguelist'" class="link-style">
                            <div class="request-block">
                                <h3>Ліга</h3>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a th:href="'/admin/tournament/' + ${tournament.id} +'/season/' + ${season.id} + '/cuplist'" class="link-style">
                            <div class="request-block">
                                <h3>Кубок</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>