<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Admin Page</title>
        <link rel="stylesheet" href="../../../admin.css">
        <link rel="shortcut icon" href="/img/footgo-dark-icon.png" type="image/x-icon">

    </head>
    <body>
        <div class="admin-main">
            <div class="admin-logo">
                <a href="/admin"><img class="admin-img" src="/img/footgo-dark-icon.png" alt="logo"></a>
            </div>
        </div>

    <p class="admin-tour-title">Тур 1</p>


        <div class="tour-match">
            <div class="tour-team1">
                <p th:text="${game.firstTeam.teamName}">Команда 1</p>
                <span id="plusHomeTeamGoal">+</span>
            </div>
            <div class="tour-score">
                <span id="goalBtn">
                    <p>
                        <span th:text="${game.teamAGoals.size()}">0</span> : <span th:text="${game.teamBGoals.size()}">0</span>
                    </p>
                </span>
            </div>
            <div class="tour-team2">
                <span id="plusGuestTeamGoal">+</span>
                <p th:text="${game.secondTeam.teamName}">Команда 2</p>
            </div>
        </div>

        <div class="modal-goal">
            <div class="team1-goal">
                <div th:each="goal : ${game.teamAGoals}">
                    <p><img src="../../../img/soccer-ball.png">
                        <span th:text="${goal.player.playerName}"></span>,
                        <span th:text="${' ' + goal.time}"></span>
                        <span class="delete-goal" th:attr="onclick=${'deleteGoal(' + game.id + ', ' + goal.id + ', true)'}">-</span>
                    </p>
                </div>
            </div>

            <div class="team2-goal">
                <div th:each="goal : ${game.teamBGoals}">
                    <p><img src="../../../img/soccer-ball.png">
                        <span th:text="${goal.player.playerName}"></span>,
                        <span th:text="${' ' + goal.time}"></span>
                        <span class="delete-goal" th:attr="onclick=${'deleteGoal(' + game.id + ', ' + goal.id + ', false)'}">-</span>
                    </p>
                </div>
            </div>
        </div>

        <div>
            <input type="checkbox" id="match-over" name="match-over">
            <label for="match-over">Матч завершено</label>
        </div>

        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Гол</h2>
                </div>
                <div class="modal-body">
                    <div class="goal-minute">
                        <p>Хвилина</p>
                        <input type="text" name="minute" id="goalMinute">
                    </div>
                    <div class="goal-author">
                        <p>Автор</p>
                        <select id="playerSelect">
                        </select>
                    </div>
                </div>
                <div class="goal-add">
                    <input onclick="addGoalBtnClicked()" id="savebutton" class="main-input-button" type="button" value="Додати">
                </div>
            </div>
        </div>

    <script>
        const path = location.toString();
        let url = new URL(path);
        let searchParams = new URLSearchParams(url.search);

        const id = searchParams.get('uuid');

        let apiUrl = '/api/game/' + id;
        fetch(apiUrl, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          }
        }).then(function(response){
            console.log(response)
            return  response.json();
        }).then(function(data) {
            window.gameData = data;
            document.getElementById('match-over').checked = data.completed;
            console.log(data);
        });
    </script>
    <script src="/modalScript.js"></script>
    </body>
</html>