<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title>Admin | FootGo League</title>
    <link rel="stylesheet" href="../../../admin.css">
    <link rel="shortcut icon" href="/img/footgo-dark-icon.png" type="image/x-icon"></head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="main-container">
        <div class="admin-main">
            <div class="admin-logo">
                <a href="/admin"><img class="admin-img" src="/img/footgo-dark-icon.png" alt="logo"></a>
            </div>
        </div>
        <ul class="menu-breadcrumb">
            <li><a href="/admin">Турніри</a></li>
            <li><a th:href="'/admin/tournament/' + ${id}" th:text="${tournament.name}"></a></li>
            <li><a th:href="'/admin/tournament/' + ${id} + '/seasons'" th:text="Сезони"></a></li>
        </ul>
        <div class="requests">
            <p>Сезони</p>
            <div class="season-block all-requests">
                <div>
                    <a th:href="'/admin/tournament/' + ${tournament.id} + '/seasons/new'" class="link-style">
                        <div class="request-block add-season" title="Створити новий сезон">
                            <i class="fa fa-plus"></i>
                        </div>
                    </a>
                </div>
                <div th:each="season : ${seasonList}">
                    <a th:href="'/admin/tournament/' + ${tournament.id} + '/season/' + ${season.id}" class="link-style">
                        <div class="request-block">
                            <h3 th:text="${season.name}"></h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>