<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Бомбардири</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="img/footgo-dark-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="hamburger.css">

</head>
<body class="bomb-full">
<header>
    <div class="header-full">
        <div class="header-first-block">
            <div class="header-icon">
                <a href="/"><img class="header-img" src="img/footgo-light-icon.png" alt="wiselogo"></a>
            </div>
            <div class="header-null">
                <a href="javascript:void(0)" class="icon" onclick="myFunction()">
                    <i class="hamburger fa fa-bars"></i>
                </a>
            </div>


            <div class="header-text">
                <a href="/signup" th:if="${league.getIsSubmissionOpened() == false}"><p>Реєстрація</p></a>
                <a href="/results"><p>Результати</p></a>
                <a href="/gametable"><p>Таблиця</p></a>
                <a href="/bombardier"><p>Бомбардири</p></a>
            </div>
        </div>

    </div>
    <div id="myLinks">
        <div th:if="${league.getIsSubmissionOpened() == false}"><a class="link-item" href="/signup">Реєстрація</a></div>
        <div><a class="link-item" href="/results">Результати</a></div>
        <div><a class="link-item" href="/gametable">Таблиця</a></div>
        <div><a class="link-item" href="/bombardier">Бомбардири</a></div>
    </div>
</header>

<div>
    <div class="bomb-head">
        <p>Кращі бомбардири</p>
    </div>

    <div class="bomb">
        <div class="bomb-position">
            <div class="bomb-title">№</div>
            <div th:each="playerGoal, iter : ${playerGoals}">
                <p th:text="${playerGoal.formatPosition(iter.index)}">не заявлена</p>
            </div>
        </div>
        <div class="bomb-player-name">
            <div class="bomb-title">Футболіст</div>
            <div th:each="playerGoal : ${playerGoals}">
                <a th:attr="href=${'/player/' + playerGoal.player.id}">
                    <p th:text="${playerGoal.player.lastName + ' ' + playerGoal.player.firstName}">не заявлена</p>
                </a>
            </div>
        </div>
        <div class="bomb-scored">
            <div class="bomb-title">М'ячів</div>
            <div th:each="playerGoal : ${playerGoals}">
                <p th:text="${playerGoal.goalList.size()}">
                    0
                </p>
            </div>
        </div>
        <div class="bomb-team">
            <div class="bomb-title">Команда</div>
            <div th:each="playerGoal : ${playerGoals}">
                <a th:attr="href=${'/team/' + playerGoal.player.team.id}">
                    <p th:text="${playerGoal.player.team.teamName}">Lions</p>
                </a>
            </div>
        </div>


    </div>




</div>

<script src="signUpScript.js"></script>
<script src="hamburger.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39722519-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-39722519-3');
</script>


</body>
</html>