<html>
<head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
</head>
<body>

<div>
    <form method="POST" th:action="@{/forgot}" class="form-signin">
        <h2>Forgot Password</h2>
        <p>Enter your email address and we'll send you a link to reset your password.</p>
        <div>
            <span th:text="${message}"></span>
            <input name="email" type="email" placeholder="Email" autofocus="autofocus"/>
            <br>
            <span th:text="${error}"></span>
            <br>
            <button type="submit">Next</button>
        </div>
    </form>
</div>

</body>
</html>