<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title th:text="${'Гра ' + game.firstTeam.teamName + ' vs ' + game.secondTeam.teamName + ' Тур ' + game.tour.tourNumber + ' ' + game.formatDate() + ' | FootGo League'}">Результат гри</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/hamburger.css">
    <link rel="shortcut icon" href="/img/footgo-dark-icon.png" type="image/x-icon">
</head>
<body class="matches-full">

<header>
	<div class="header-full">
		<div class="header-first-block">
			<div>
				<a href="/"><img class="header-img" src="/img/footgo-light-icon.png" alt="wiselogo"></a>
			</div>
			<div class="header-null">
				<a href="javascript:void(0)" class="icon" onclick="myFunction()">
					<i class="hamburger fa fa-bars"></i>
				</a>
			</div>
			<div class="header-text">
				<a href="/signup" th:if="${league.getIsSubmissionOpened() == false}"><p>Реєстрація</p></a>
				<a href="/results"><p>Результати</p></a>
				<a href="/gametable"><p>Таблиця</p></a>
				<a href="/bombardier"><p>Бомбардири</p></a>
			</div>
		</div>
		<div class="header-second-block">  </div>
	</div>
	<div id="myLinks">
		<div th:if="${league.getIsSubmissionOpened() == false}"><a class="link-item" href="/signup">Реєстрація</a></div>
		<div><a class="link-item" href="/results">Результати</a></div>
		<div><a class="link-item" href="/gametable">Таблиця</a></div>
		<div><a class="link-item" href="/bombardier">Бомбардири</a></div>
	</div>
</header>


<div>
	<div class="mathces-null"></div>
	<div class="mathces-bg">
		<div class="tour-number">
			<p>Тур <span th:text="${game.tour.tourNumber}"></span></p>
		</div>
		<div th:if="${game.isNoTechnicalDefeat() == true}" class="tour-number goals">
			<p>Голи</p>
		</div>
		<div class="review-match">
			<div class="review-head">
				<div class="review-team1">
					<a th:attr="href=${'/team/' + game.firstTeam.id}">
						<img th:attr="src=${game.firstTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.firstTeam.id}">
						<img th:attr="src=${game.firstTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.firstTeam.id}">
						<p th:text="${game.firstTeam.teamName}">Команда 1</p>
					</a>
				</div>
				<div th:if="${game.isNoTechnicalDefeat() == true}" class="review-score">
					<p>
						<span th:if="${game.isNoTechnicalDefeat() == true}" th:text="${game.formatGoalsForTeamA()}">game.teamAGoals.size()</span>
						<span th:if="${game.isTeamAHasTechnicalDefeat() == true}">0</span>
						<span th:if="${game.isTeamBHasTechnicalDefeat() == true}">3</span>

<!--                        <span th:text="${game.teamAGoals.size()}">0</span> -->
						:
<!--						<span th:text="${game.teamBGoals.size()}">0</span>-->
						<span th:if="${game.isNoTechnicalDefeat() == true}" th:text="${game.formatGoalsForTeamB()}">game.teamBGoals.size()</span>
						<span th:if="${game.isTeamAHasTechnicalDefeat() == true}">3</span>
						<span th:if="${game.isTeamBHasTechnicalDefeat() == true}">0</span>
                    </p>
				</div>
				<div class="review-team2">
					<a th:attr="href=${'/team/' + game.secondTeam.id}">
						<img th:attr="src=${game.secondTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.secondTeam.id}">
						<img th:attr="src=${game.secondTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.secondTeam.id}">
						<p th:text="${game.secondTeam.teamName}">Команда 2</p>
					</a>
				</div>
			</div>
		</div>

		<div class="center-text" th:if="${game.isTeamAHasTechnicalDefeat() == true}">
			Технічна поразка команди <span th:text="${game.firstTeam.teamName}">Команда 1</span>
		</div>

		<div class="center-text" th:if="${game.isTeamBHasTechnicalDefeat() == true}">
			Технічна поразка команди <span th:text="${game.secondTeam.teamName}">Команда 2</span>
		</div>

		<div th:if="${game.isNoTechnicalDefeat() == true}" class="details-match">
			<div class="details-team1">
				<div class="team1-goals" th:each="goal : ${game.teamAGoals}">
						<p>
							<a th:attr="href=${'/player/' + goal.player.id}">
								<span th:text="${goal.player.firstName + ' ' + goal.player.lastName}" class="player-name">Ім'я Прізвище</span>
							</a>
								<span th:text="${' (' + goal.time + '&lsquo;)'}" class="minute"></span>

						</p>
						<img src="/img/soccer-ball.png">
					</a>
				</div>
			</div>
			<div class="details-team2">
				<div class="team2-goals" th:each="goal : ${game.teamBGoals}">
					<img src="/img/soccer-ball.png">
					<p>
						<a th:attr="href=${'/player/' + goal.player.id}">
							<span th:text="${goal.player.firstName + ' ' + goal.player.lastName}">Ім'я Прізвище</span>
						</a>
						<span th:text="${' (' + goal.time + '&lsquo;)'}" class="minute"></span>
					</p>
				</div>
			</div>
		</div>
		<div th:if="${game.isNoTechnicalDefeat() == true} AND ${not #lists.isEmpty(game.teamACards)} OR ${not #lists.isEmpty(game.teamBCards)}" class="tour-number cards">
			<p>Картки</p>
		</div>
		<div th:if="${game.isNoTechnicalDefeat() == true}" class="details-match">
			<div th:if="${game.isNoTechnicalDefeat() == true} AND ${not #lists.isEmpty(game.teamACards)}" class="details-team1">
				<div class="team1-goals" th:each="card : ${game.teamACards}">
					<p>
						<a th:attr="href=${'/player/' + card.player.id}">
							<span th:text="${card.player.firstName + ' ' + card.player.lastName}" class="player-name">Ім'я Прізвище</span>
						</a>
						<span th:text="${' (' + card.time + '&lsquo;)'}" class="minute"></span>
					</p>
					<span th:if="${card.isYellow()}" class="yellow-card card-team-one"></span>
					<span th:if="${card.isRed()}" class="red-card card-team-one"></span>
					</a>
				</div>
			</div>
			<div th:if="${game.isNoTechnicalDefeat() == true} AND ${not #lists.isEmpty(game.teamBCards)}" class="details-team2">
				<div class="team2-goals" th:each="card : ${game.teamBCards}">
					<span th:if="${card.isYellow()}" class="yellow-card card-team-two"></span>
					<span th:if="${card.isRed()}" class="red-card card-team-two"></span>
					<p>
						<a th:attr="href=${'/player/' + card.player.id}">
							<span th:text="${card.player.firstName + ' ' + card.player.lastName}" class="player-name">Ім'я Прізвище</span>
						</a>
						<span th:text="${' (' + card.time + '&lsquo;)'}" class="minute"></span>
					</p>
					</a>
				</div>
			</div>
		</div>
		<div class="match-video" th:if="${game.videoUrl != null}">
			<p>Відео матчу</p>
			<iframe width="500" height="281" th:attr="src=${game.videoUrl}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="match-video" th:if="${game.descriptionText != null} AND ${game.descriptionText != ''}">
			<p>Опис матчу</p>
			<div class="results-container description-text">
				<span th:text="${game.descriptionText}">
					game.firstTeam.teamName
				</span>
			</div>
		</div>
	</div>
</div>

<script src="/signUpScript.js"></script>
<script src="/hamburger.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39722519-3"></script>
<script src="/imgPlaceholderSetScript.js" type="text/javascript"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-39722519-3');
</script>

</body>
</html>