<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title th:text="#{game} + ${' ' + game.firstTeam.teamName + ' vs ' + game.secondTeam.teamName + ' '} + #{tour} + ${' ' + game.tour.tourNumber + ' ' + game.formatDate() + ' | FootGo League'}"></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/hamburger.css">
    <link rel="shortcut icon" href="/img/footgo-dark-icon.png" type="image/x-icon">
</head>
<body class="matches-full">
<header>
	<div class="header-full">
		<div class="header-first-block">
			<div>
				<a href="/"><img class="header-img" src="/img/footgo-light-icon.png" alt="wiselogo"></a>
			</div>
			<div class="header-null">
				<a href="javascript:void(0)" class="icon" onclick="myFunction()">
					<i class="hamburger fa fa-bars"></i>
				</a>
			</div>
			<div class="header-text">
				<a href="/">
					<p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${season.nameEn}"></p>
					<p th:if="${#locale.language == 'uk'}" th:text="${season.name}"></p>
				</a>
				<a th:href="'/league/' + ${league.id}">
					<p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${league.nameEn}"></p>
					<p th:if="${#locale.language == 'uk'}" th:text="${league.name}"></p>
				</a>
				<a th:href="'/league/' + ${league.id} + '/game/' + ${gameId}"><p th:text="#{match}"></p></a>
			</div>
		</div>
		<div class="header-right-block">
			<div th:replace="fragments/signInWidget :: signInWidget"></div>
			<div th:replace="fragments/languageWidget :: languageWidget"></div>
		</div>
	</div>
	<div id="myLinks">
		<div>
			<a class="link-item" href="/">
				<p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${season.nameEn}"></p>
				<p th:if="${#locale.language == 'uk'}" th:text="${season.name}"></p>
			</a>
		</div>
		<div>
			<a class="link-item" th:href="'/league/' + ${league.id}">
				<p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${league.nameEn}"></p>
				<p th:if="${#locale.language == 'uk'}" th:text="${league.name}"></p>
			</a>
		</div>
		<div><a class="link-item" th:href="'/league/' + ${league.id} + '/game/' + ${gameId}"><p th:text="#{match}"></p></a></div>
	</div>
</header>
<div class="main-head main-head-results player-background">
	<div class="main-head-title league-page">
		<h1 th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${league.nameEn}"></h1>
		<h1 th:if="${#locale.language == 'uk'}" th:text="${league.name}"></h1>
	</div>
</div>
<div class="matches-container">
	<div class="matches-null"></div>
	<div class="matches-bg">
		<div class="tour-number">
			<p><span th:text="#{tour} + ' ' + ${game.tour.tourNumber}"></span></p>
		</div>
		<div class="review-match">
			<div class="review-head">
				<div class="review-team1">
					<a th:attr="href=${'/league/' + leagueId + '/team/' + game.firstTeam.id}">
						<img th:attr="src=${game.firstTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.firstTeam.id}">
						<img th:attr="src=${game.firstTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.firstTeam.id}">
						<p th:if="${#locale.language == 'uk'}" th:text="${game.firstTeam.teamName}">Team 1</p>
						<p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${game.firstTeam.getTeamNameTransliterated()}">Team 1</p>
					</a>
				</div>
				<div th:if="${game.isNoTechnicalDefeat() == true}" th:classappend="${game.formatGoalsForTeamA() == ''}?tbd" class="review-score">
					<p>
						<span th:if="${game.isNoTechnicalDefeat() == true}" th:text="${game.formatGoalsForTeamA()}">game.teamAGoals.size()</span>
					    <span th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamA() == ''}">TBD</span>
						<span th:if="${game.isTeamAHasTechnicalDefeat() == true}">0</span>
						<span th:if="${game.isTeamBHasTechnicalDefeat() == true}">3</span>

<!--                        <span th:text="${game.teamAGoals.size()}">0</span> -->
						:
<!--						<span th:text="${game.teamBGoals.size()}">0</span>-->
						<span th:if="${game.isNoTechnicalDefeat() == true}" th:text="${game.formatGoalsForTeamB()}">game.teamBGoals.size()</span>
						<span th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamB() == ''}">TBD</span>
						<span th:if="${game.isTeamAHasTechnicalDefeat() == true}">3</span>
						<span th:if="${game.isTeamBHasTechnicalDefeat() == true}">0</span>
                    </p>
				</div>
				<div class="review-team2">
					<a th:attr="href=${'/league/' + leagueId + '/team/' + game.secondTeam.id}">
						<img th:attr="src=${game.secondTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.secondTeam.id}">
						<img th:attr="src=${game.secondTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.secondTeam.id}">
						<p th:if="${#locale.language == 'uk'}" th:text="${game.secondTeam.teamName}">Team 2</p>
						<p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${game.secondTeam.getTeamNameTransliterated()}">Team 2</p>
					</a>
				</div>
			</div>
		</div>
		<div th:if="${game.isNoTechnicalDefeat() == true}" class="tour-number goals">
			<p th:text="#{goals}"></p>
		</div>
		<div class="center-text empty-text-error" th:if="${game.isTeamAHasTechnicalDefeat() == true}">
			<span th:if="${#locale.language == 'uk'}" th:text="#{teamTechnicalDefeat} + ' ' + ${game.firstTeam.teamName}">Team 1</span>
			<span th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="#{teamTechnicalDefeat} + ' ' + ${game.firstTeam.getTeamNameTransliterated()}">Team 1</span>
		</div>

		<div class="center-text empty-text-error" th:if="${game.isTeamBHasTechnicalDefeat() == true}">
			<span th:if="${#locale.language == 'uk'}" th:text="#{teamTechnicalDefeat} + ' ' + ${game.secondTeam.teamName}">Team 2</span>
			<span th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="#{teamTechnicalDefeat} + ' ' + ${game.secondTeam.getTeamNameTransliterated()}">Team 2</span>
		</div>

		<div th:if="${game.isNoTechnicalDefeat() == true}" class="details-match">
			<div class="details-team1">
				<div class="team1-goals" th:each="goal : ${game.teamAGoals}">
					<p>
						<a th:attr="href=${'/league/' + leagueId + '/player/' + goal.player.id}">
							<span th:if="${#locale.language == 'uk'}" th:text="${goal.player.firstName + ' ' + goal.player.lastName}" class="player-name"></span>
							<span th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${goal.player.getPlayerFirstNameTransliterated() + ' ' + goal.player.getPlayerLastNameTransliterated()}" class="player-name"></span>
						</a>
						<span th:text="${' (' + goal.time + '&lsquo;)'}" class="minute"></span>
					</p>
					<img src="/img/soccer-ball.png">
				</div>
			</div>
			<div class="details-team2">
				<div class="team2-goals" th:each="goal : ${game.teamBGoals}">
					<img src="/img/soccer-ball.png">
					<p>
						<a th:attr="href=${'/league/' + leagueId + '/player/' + goal.player.id}">
							<span th:if="${#locale.language == 'uk'}" th:text="${goal.player.firstName + ' ' + goal.player.lastName}" class="player-name"></span>
							<span th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${goal.player.getPlayerFirstNameTransliterated() + ' ' + goal.player.getPlayerLastNameTransliterated()}" class="player-name"></span>
						</a>
						<span th:text="${' (' + goal.time + '&lsquo;)'}" class="minute"></span>
					</p>
				</div>
			</div>
		</div>
		<div th:if="${game.isNoTechnicalDefeat() == true} AND ${not #lists.isEmpty(game.teamACards)} OR ${not #lists.isEmpty(game.teamBCards)}" class="tour-number cards">
			<p th:text="#{cards}"></p>
		</div>
		<div th:if="${game.isNoTechnicalDefeat() == true}" class="details-match">
			<div th:if="${game.isNoTechnicalDefeat() == true} AND ${not #lists.isEmpty(game.teamACards)}" class="details-team1">
				<div class="team1-goals" th:each="card : ${game.teamACards}">
					<p>
						<a th:attr="href=${'/league/' + leagueId + '/player/' + card.player.id}">
							<span th:if="${#locale.language == 'uk'}" th:text="${card.player.firstName + ' ' + card.player.lastName}" class="player-name"></span>
							<span th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${card.player.getPlayerFirstNameTransliterated() + ' ' + card.player.getPlayerLastNameTransliterated()}" class="player-name"></span>
						</a>
						<span th:text="${' (' + card.time + '&lsquo;)'}" class="minute"></span>
					</p>
					<span th:if="${card.isYellow()}" class="yellow-card card-team-one"></span>
					<span th:if="${card.isRed()}" class="red-card card-team-one"></span>
				</div>
			</div>
			<div th:if="${game.isNoTechnicalDefeat() == true} AND ${not #lists.isEmpty(game.teamBCards)}" class="details-team2">
				<div class="team2-goals" th:each="card : ${game.teamBCards}">
					<span th:if="${card.isYellow()}" class="yellow-card card-team-two"></span>
					<span th:if="${card.isRed()}" class="red-card card-team-two"></span>
					<p>
						<a th:attr="href=${'/league/' + leagueId + '/player/' + card.player.id}">
							<span th:if="${#locale.language == 'uk'}" th:text="${card.player.firstName + ' ' + card.player.lastName}" class="player-name"></span>
							<span th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${card.player.getPlayerFirstNameTransliterated() + ' ' + card.player.getPlayerLastNameTransliterated()}" class="player-name"></span>
						</a>
						<span th:text="${' (' + card.time + '&lsquo;)'}" class="minute"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="match-statistics">
			<p th:text="#{matchStatistics}" class="match-statistics-title"></p>
			<div class="statistics-item">
				<div class="statistics-item-info">
					<span th:text="${game.teamAStats?.strikes}" class="item-info-team1"></span>
					<span th:text="#{strikes}" class="item-info-title"></span>
					<span th:text="${game.teamBStats?.strikes}" class="item-info-team2"></span>
				</div>
				<div class="statistics-item-bar">
					<div class="progress-wrap item-bar-team1">
						<div class="bar-more bar-less" id="strikes-team1-bar"></div>
					</div>
					<div class="progress-wrap item-bar-team2">
						<div class="bar-more bar-less" id="strikes-team2-bar"></div>
					</div>
				</div>
			</div>
			<div class="statistics-item">
				<div class="statistics-item-info">
					<span th:text="${game.teamAStats?.hitsTheTarget}" class="item-info-team1"></span>
					<span th:text="#{hitsTheTarget}" class="item-info-title"></span>
					<span th:text="${game.teamBStats?.hitsTheTarget}" class="item-info-team2"></span>
				</div>
				<div class="statistics-item-bar">
					<div class="progress-wrap item-bar-team1">
						<div class="bar-more bar-less" id="hits-the-target-team1-bar"></div>
					</div>
					<div class="progress-wrap item-bar-team2">
						<div class="bar-more bar-less" id="hits-the-target-team2-bar"></div>
					</div>
				</div>
			</div>
			<div class="statistics-item">
				<div class="statistics-item-info">
					<span th:text="${game.teamAStats?.strikesPastTheGate}" class="item-info-team1"></span>
					<span th:text="#{strikesPastTheGate}" class="item-info-title"></span>
					<span th:text="${game.teamBStats?.strikesPastTheGate}" class="item-info-team2"></span>
				</div>
				<div class="statistics-item-bar">
					<div class="progress-wrap item-bar-team1">
						<div class="bar-more bar-less" id="strikes-past-the-gate-team1-bar"></div>
					</div>
					<div class="progress-wrap item-bar-team2">
						<div class="bar-more bar-less" id="strikes-past-the-gate-team2-bar"></div>
					</div>
				</div>
			</div>
			<div class="statistics-item">
				<div class="statistics-item-info">
					<span th:text="${game.teamAStats?.freeKicks}" class="item-info-team1"></span>
					<span th:text="#{freeKicks}" class="item-info-title"></span>
					<span th:text="${game.teamBStats?.freeKicks}" class="item-info-team2"></span>
				</div>
				<div class="statistics-item-bar">
					<div class="progress-wrap item-bar-team1">
						<div class="bar-more bar-less" id="free-kicks-team1-bar"></div>
					</div>
					<div class="progress-wrap item-bar-team2">
						<div class="bar-more bar-less" id="free-kicks-team2-bar"></div>
					</div>
				</div>
			</div>
			<div class="statistics-item">
				<div class="statistics-item-info">
					<span th:text="${game.teamAStats?.fouls}" class="item-info-team1"></span>
					<span th:text="#{fouls}" class="item-info-title"></span>
					<span th:text="${game.teamBStats?.fouls}" class="item-info-team2"></span>
				</div>
				<div class="statistics-item-bar">
					<div class="progress-wrap item-bar-team1">
						<div class="bar-more bar-less" id="fouls-team1-bar"></div>
					</div>
					<div class="progress-wrap item-bar-team2">
						<div class="bar-more bar-less" id="fouls-team2-bar"></div>
					</div>
				</div>
			</div>
			<div class="statistics-item">
				<div class="statistics-item-info">
					<span th:text="${game.teamAStats?.cornerKicks}" class="item-info-team1"></span>
					<span th:text="#{cornerKicks}" class="item-info-title"></span>
					<span th:text="${game.teamBStats?.cornerKicks}" class="item-info-team2"></span>
				</div>
				<div class="statistics-item-bar">
					<div class="progress-wrap item-bar-team1">
						<div class="bar-more bar-less" id="corner-kicks-team1-bar"></div>
					</div>
					<div class="progress-wrap item-bar-team2">
						<div class="bar-more bar-less" id="corner-kicks-team2-bar"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="match-video" th:if="${!#strings.isEmpty(game.videoUrl)}">
			<p th:text="#{matchVideo}"></p>
			<iframe width="500" height="281" th:attr="src=${game.videoUrl}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="match-video video-description" th:if="${game.descriptionText != null} AND ${game.descriptionText != ''}">
			<p th:text="#{matchDescription}"></p>
			<div class="results-container description-text">
				<span th:text="${game.descriptionText}">
					game.firstTeam.teamName
				</span>
			</div>
		</div>
	</div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="/signUpScript.js"></script>
<script src="/hamburger.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39722519-3"></script>
<script src="/imgPlaceholderSetScript.js" type="text/javascript"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-39722519-3');
</script>

<script>
    document.querySelector("#strikes-team1-bar").style.width = '10%';
    document.querySelector("#strikes-team2-bar").style.width = '90%';
</script>
</body>
</html>