<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Результат гри</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/hamburger.css">
    <link rel="shortcut icon" href="/img/footgo-dark-icon.png" type="image/x-icon">
</head>
<body>

<header>
	<div class="header-full">
		<div class="header-first-block">
			<div>
				<a href="/"><img class="header-img" src="/img/footgo-light-icon.png" alt="wiselogo"></a>
			</div>
			<div class="header-null">
				<a href="javascript:void(0)" class="icon" onclick="myFunction()">
					<i class="hamburger fa fa-bars"></i>
				</a>
			</div>
			<div class="header-text">
				<!--<a href="/signup"><p>Реєстрація</p></a>-->
				<a href="/results"><p>Результати</p></a>
				<a href="/gametable"><p>Таблиця</p></a>
				<a href="/bombardier"><p>Бомбардири</p></a>
			</div>
		</div>
		<div class="header-second-block">        </div>
	</div>
	<div id="myLinks">
		<!--<div><a class="link-item" href="/signup">Реєстрація</a></div>-->
		<div><a class="link-item" href="/results">Результати</a></div>
		<div><a class="link-item" href="/gametable">Таблиця</a></div>
		<div><a class="link-item" href="/bombardier">Бомбардири</a></div>
	</div>
</header>


<div class="matches-full">
	<div class="mathces-null"></div>
	<div class="mathces-bg">
		<div class="review-match">
			<div class="review-head">
				<div class="review-team1">
					<img th:attr="src=${'/logo/logo' + game.firstTeam.id + '.png'}">
					<p th:text="${game.firstTeam.teamName}">Команда 1</p>
				</div>
				<div class="review-score">
					<p>
                        <span th:text="${game.teamAGoals.size()}">0</span> : <span th:text="${game.teamBGoals.size()}">0</span>
                    </p>
				</div>
				<div class="review-team2">
					<img th:attr="src=${'/logo/logo' + game.secondTeam.id + '.png'}">
					<p th:text="${game.secondTeam.teamName}">Команда 2</p>
				</div>
			</div>
		</div>

		<div class="details-match">
			<div class="details-team1">
				<div class="team1-goals" th:each="goal : ${game.teamAGoals}">
					<p>
						<span th:text="${goal.player.firstName + ' ' + goal.player.lastName}" class="player-name">Ім'я Прізвище</span>
						<span th:text="${' (' + goal.time + '&lsquo;)'}" class="minute">(22')</span>
					</p>
					<img src="/img/soccer-ball.png">
				</div>
			</div>
			<div class="details-team2">
				<div class="team2-goals" th:each="goal : ${game.teamBGoals}">
					<img src="/img/soccer-ball.png">
					<p>
						<span th:text="${goal.player.firstName + ' ' + goal.player.lastName}">Ім'я Прізвище</span>
						<span th:text="${' (' + goal.time + '&lsquo;)'}" class="minute">(22')</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/signUpScript.js"></script>
<script src="/hamburger.js"></script>
</body>
</html>