<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="#{league} + ' ' + ${league.nameEn + ' | FootGo League'}"></title>
    <title th:if="${#locale.language == 'uk'}" th:text="#{league} + ' ' + ${league.name + ' | FootGo League'}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/img/footgo-dark-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/hamburger.css">
</head>
<body class="team-results-full">
<header th:replace="fragments/header :: header"></header>
<div class="main-head league-main-head">
    <div class="main-head-title league-page">
        <h1 th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${league.nameEn}"></h1>
        <h1 th:if="${#locale.language == 'uk'}" th:text="${league.name}"></h1>
    </div>
</div>
<div class="main-block">
    <div th:replace="fragments/carousel :: carousel"></div>
</div>
<div id="bredcrumbs" class="section">
    <div class="row">
        <nav>
            <div class="nav-wrapper">
                <div class="col">
                    <a th:text="#{home}" href="/" class="breadcrumb"></a>
                    <a th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${league.nameEn}" href="#!" class="breadcrumb"></a>
                    <a th:if="${#locale.language == 'uk'}" th:text="${league.name}" href="#!" class="breadcrumb"></a>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="main-container">
    <div class="results vs-container">
        <div th:if="${game.isNoTechnicalDefeat() == true}" class="tour-number goals">
            <p th:text="#{matches}"></p>
        </div>
        <div th:if="${#lists.isEmpty(gameList)}" class="matches-bg">
            <div class="review-match">
                <div class="review-head">
                    <div class="review-score-empty">
                        <span th:text="#{noUpcomingMatches}"></span>
                    </div>
                </div>
            </div>
            <a th:href="'/' + ${seasonId} + '/league/' + ${leagueId} + '/results'" class="button-link-more" href="#">
                <button class="pure-material-button-text" th:text="#{seeMore}"></button>
            </a>
        </div>
        <div th:if="${not #lists.isEmpty(gameList)}" class="desktop">
            <div th:each="game : ${gameList}" class="matches-bg">
                <div class="match-res-date">
                    <p th:text="${game.formatDate()} + ', ' + ${game.formatTime()}"></p>
                </div>
                <div class="review-match">
                    <div class="review-head">
                        <div class="review-team1">
                            <a th:attr="href=${'/' + seasonId + '/league/' + leagueId + '/team/' + game.firstTeam.id}">
                                <img th:attr="src=${game.firstTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.firstTeam.id}" src="">
                                <img th:attr="src=${game.firstTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.firstTeam.id}" src="">
                                <p th:if="${#locale.language == 'uk'}" th:text="${game.firstTeam.teamName}">Team 1</p>
                                <p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${game.firstTeam.getTeamNameTransliterated()}">Team 1</p>
                            </a>
                        </div>
                        <div th:if="${game.isNoTechnicalDefeat() == true}"
                             th:classappend="${game.formatGoalsForTeamA() == ''}?tbd" class="review-score">
                            <a th:attr="href=${'/' + seasonId + '/league/' + leagueId + '/game/' + game.id}">
                                <p>
                                    <span th:if="${game.isNoTechnicalDefeat() == true}"
                                          th:text="${game.formatGoalsForTeamA()}">game.teamAGoals.size()
                                    </span>
                                    <span th:if="${game.formatGoalsForTeamA() != ''}">
                                    <span th:if="${game.formatPenaltyGoalsForTeamA() != '0'} OR ${game.formatPenaltyGoalsForTeamB() != '0'}"
                                          th:text="' ' + '(' + ${game.formatPenaltyGoalsForTeamA()} + ')'">
                                    </span>
                                    </span>
                                    <span th:if="${game.isNoTechnicalDefeat() == true} AND ${game.formatGoalsForTeamA() == ''}">TBD</span>
                                    <span th:if="${game.isTeamAHasTechnicalDefeat() == true}">0</span>
                                    <span th:if="${game.isTeamBHasTechnicalDefeat() == true}">3</span>
                                    :
                                    <span th:if="${game.isNoTechnicalDefeat() == true}"
                                          th:text="${game.formatGoalsForTeamB()}">game.teamBGoals.size()
                                    </span>
                                    <span th:if="${game.formatGoalsForTeamB() != ''}">
                                    <span th:if="${game.isNoTechnicalDefeat() == true} AND ${game.formatPenaltyGoalsForTeamB() != '0'} OR ${game.formatPenaltyGoalsForTeamA() != '0'}"
                                          th:text="' ' + '(' + ${game.formatPenaltyGoalsForTeamB()} + ')'">
                                    </span>
                                    </span>
                                    <span th:if="${game.isNoTechnicalDefeat() == true} AND ${game.formatGoalsForTeamB() == ''}">TBD</span>
                                    <span th:if="${game.isTeamAHasTechnicalDefeat() == true}">3</span>
                                    <span th:if="${game.isTeamBHasTechnicalDefeat() == true}">0</span>
                                </p>
                            </a>
                        </div>
                        <div class="review-team2">
                            <a th:attr="href=${'/' + seasonId + '/league/' + leagueId + '/team/' + game.secondTeam.id}">
                                <img th:attr="src=${game.secondTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.secondTeam.id}" src="">
                                <img th:attr="src=${game.secondTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.secondTeam.id}" src="">
                                <p th:if="${#locale.language == 'uk'}" th:text="${game.secondTeam.teamName}">Team 2</p>
                                <p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${game.secondTeam.getTeamNameTransliterated()}">Team 2</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="center-text" th:if="${game.isTeamAHasTechnicalDefeat() == true}">
                    <span th:if="${#locale.language == 'uk'}" th:text="#{teamTechnicalDefeat} + ' ' + ${game.firstTeam.teamName}" class="empty-text-error">Team 1</span>
                    <span th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="#{teamTechnicalDefeat} + ' ' + ${game.firstTeam.getTeamNameTransliterated()}" class="empty-text-error">Team 1</span>
                </div>

                <div class="center-text" th:if="${game.isTeamBHasTechnicalDefeat() == true}">
                    <span th:if="${#locale.language == 'uk'}" th:text="#{teamTechnicalDefeat} + ' ' + ${game.secondTeam.teamName}" class="empty-text-error">Team 2</span>
                    <span th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="#{teamTechnicalDefeat} + ' ' + ${game.secondTeam.getTeamNameTransliterated()}" class="empty-text-error">Team 2</span>
                </div>
                <a th:href="'/' + ${seasonId} + '/league/' + ${leagueId} + '/results'" class="button-link-more" href="#">
                    <button class="pure-material-button-text" th:text="#{seeMore}"></button>
                </a>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(gameList)}" class="res-tour-allmatch mobile">
            <div class="results-container league-results-container" th:each="game : ${gameList}">
                <div class="res-teams">
                    <a th:attr="href=${'/' + seasonId + '/league/' + leagueId + '/team/' + game.firstTeam.id}">
                        <img th:attr="src=${game.firstTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.firstTeam.id}" src="">
                        <img th:attr="src=${game.firstTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.firstTeam.id}" src="">
                        <p th:if="${#locale.language == 'uk'}" th:text="${game.firstTeam.teamName}">game.firstTeam.teamName</p>
                        <p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${game.firstTeam.getTeamNameTransliterated()}">game.firstTeam.teamName</p>
                    </a>
                    <a th:attr="href=${'/' + seasonId + '/league/' + leagueId + '/team/' + game.secondTeam.id}">
                        <img th:attr="src=${game.secondTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.secondTeam.id}" src="">
                        <img th:attr="src=${game.secondTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.secondTeam.id}" src="">
                        <p th:if="${#locale.language == 'uk'}" th:text="${game.secondTeam.teamName}">game.secondTeam.teamName</p>
                        <p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${game.secondTeam.getTeamNameTransliterated()}">game.secondTeam.teamName</p>
                    </a>
                </div>
                <div class="res-score">
                    <a th:attr="href=${'/' + seasonId + '/league/' + leagueId + '/game/' + game.id}">
                        <p th:if="${game.isNoTechnicalDefeat() == true} AND ${game.formatGoalsForTeamA() != ''}"
                           th:text="${game.formatGoalsForTeamA()}">game.teamAGoals.size()</p>
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamA() == ''}">TBD</p>
                        <p th:if="${game.isTeamAHasTechnicalDefeat() == true}">0</p>
                        <p th:if="${game.isTeamBHasTechnicalDefeat() == true}">3</p>
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamB() != ''}"
                           th:text="${game.formatGoalsForTeamB()}">game.teamBGoals.size()</p>
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamB() == ''}">TBD</p>
                        <p th:if="${game.isTeamAHasTechnicalDefeat() == true}">3</p>
                        <p th:if="${game.isTeamBHasTechnicalDefeat() == true}">0</p>
                    </a>
                </div>
                <div th:if="${game.isNoTechnicalDefeat() == true} AND ${game.formatGoalsForTeamA() != ''} AND ${game.formatGoalsForTeamB() != ''}">
                    <div th:if="${game.formatPenaltyGoalsForTeamA() != '0'} OR ${game.formatPenaltyGoalsForTeamB() != '0'}"
                         class="res-score">
                        <a th:attr="href=${'/' + seasonId + '/league/' + leagueId + '/game/' + game.id}">
                            <p th:text="' ' + '(' + ${game.formatPenaltyGoalsForTeamA()} + ')'"></p>
                            <p th:text="' ' + '(' + ${game.formatPenaltyGoalsForTeamB()} + ')'"></p>
                        </a>
                    </div>
                </div>
                <div class="res-date">
                    <p th:text="${game.formatDate()}"></p>
                    <p th:text="${game.formatTime()}"></p>
                </div>
            </div>
            <div class="table-button">
                <a th:href="'/' + ${seasonId} + '/league/' + ${leagueId} + '/results'" class="button-link-more" href="#">
                    <button class="pure-material-button-text" th:text="#{seeMore}"></button>
                </a>
            </div>
        </div>
<!--        <div class="button-container">
            <a th:href="'/league/' + ${leagueId} + '/results'">
                <input th:value="#{showAllButton}" class="reg-input-button match-all-button" type="button" value=""/>
            </a>
        </div>-->

<!--        <div th:each="tour : ${tourList}" class="results-block">
            &lt;!&ndash;<p>Найближчі ігри</p>&ndash;&gt;
            <div>
                <p class="res-tour-title" th:text="'Тур ' + ${tour.tourNumber}"></p>
            </div>
            &lt;!&ndash;                <div class="logo-team-bg league-team-bg">
                                <p>Team 1</p>
                                <p>VS</p>
                                <p>Team 2</p>
                            </div>&ndash;&gt;
            &lt;!&ndash;<input class="reg-input-button all-games-button" type="submit" onclick="allGames()"
                   value="Всі ігри">&ndash;&gt;

            <div class="results-container league-results-container" th:each="game : ${tour.gameList}">
                <div class="res-teams">
                    <a th:attr="href=${'/league/' + leagueId + '/team/' + game.firstTeam.id}">
                        <img th:attr="src=${game.firstTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.firstTeam.id}">
                        <img th:attr="src=${game.firstTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.firstTeam.id}">
                        <p th:text="${game.firstTeam.teamName}">
                            game.firstTeam.teamName
                        </p>
                    </a>
                    <a th:attr="href=${'/league/' + leagueId + '/team/' + game.secondTeam.id}">
                        <img th:attr="src=${game.secondTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.secondTeam.id}">
                        <img th:attr="src=${game.secondTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.secondTeam.id}">
                        <p th:text="${game.secondTeam.teamName}">
                            game.secondTeam.teamName
                        </p>
                    </a>
                </div>
                <div class="res-score">
                    <a th:attr="href=${'/league/' + leagueId + '/game/' + game.id}">
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamA() != ''}"
                           th:text="${game.formatGoalsForTeamA()}">game.teamAGoals.size()</p>
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamA() == ''}">TBD</p>
                        <p th:if="${game.isTeamAHasTechnicalDefeat() == true}">0</p>
                        <p th:if="${game.isTeamBHasTechnicalDefeat() == true}">3</p>
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamB() != ''}"
                           th:text="${game.formatGoalsForTeamB()}">game.teamBGoals.size()</p>
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamB() == ''}">TBD</p>
                        <p th:if="${game.isTeamAHasTechnicalDefeat() == true}">3</p>
                        <p th:if="${game.isTeamBHasTechnicalDefeat() == true}">0</p>
                    </a>
                </div>
                <div class="res-date">
                    <p th:text="${game.formatDate()}"></p>
                    <p th:text="${game.formatTime()}"></p>
                </div>
            </div>
        </div>-->
    </div>
    <div class="score-tables">
        <p th:text="#{championshipTable}" class="table-header"></p>
        <div class="table">
            <div class="table-position auto">
                <div class="table-title">№</div>
                <div th:each="result,i : ${resultList}" th:text="${i.count}"></div>
            </div>
            <div class="table-team-name full">
                <div th:text="#{team}" class="table-title"></div>
                <!--                    <div class="table-firstplace">-->
                <!--                        <a th:attr="href=${'/league/' + leagueId + '/team/' + firstPlace.team.id}">-->
                <!--                            <img th:attr="src=${firstPlace.team.logoImageUrl}, class=${'light' + ' ' + 'team' + firstPlace.team.id}">-->
                <!--                            <img th:attr="src=${firstPlace.team.logoImageUrlDark}, class=${'dark' + ' ' + 'team' + firstPlace.team.id}">-->
                <!--                            <p th:text="${firstPlace.team.teamName}"></p>-->
                <!--                        </a>-->
                <!--                    </div>-->

                <!--                    <div class="table-secondplace">-->
                <!--                        <a th:attr="href=${'/league/' + leagueId + '/team/' + secondPlace.team.id}">-->
                <!--                            <img th:attr="src=${secondPlace.team.logoImageUrl}, class=${'light' + ' ' + 'team' + secondPlace.team.id}">-->
                <!--                            <img th:attr="src=${secondPlace.team.logoImageUrlDark}, class=${'dark' + ' ' + 'team' + secondPlace.team.id}">-->
                <!--                            <p th:text="${secondPlace.team.teamName}"></p>-->
                <!--                        </a>-->
                <!--                    </div>-->

                <!--                    <div class="table-thirdplace">-->
                <!--                        <a th:attr="href=${'/league/' + leagueId + '/team/' + thirdPlace.team.id}">-->
                <!--                            <img th:attr="src=${thirdPlace.team.logoImageUrl}, class=${'light' + ' ' + 'team' + thirdPlace.team.id}">-->
                <!--                            <img th:attr="src=${thirdPlace.team.logoImageUrlDark}, class=${'dark' + ' ' + 'team' + thirdPlace.team.id}">-->
                <!--                            <p th:text="${thirdPlace.team.teamName}"></p>-->
                <!--                        </a>-->
                <!--                    </div>-->
                <div th:each="result : ${resultList}">
                    <a th:attr="href=${'/' + seasonId + '/league/' + leagueId + '/team/' + result.team.id}">
                        <img th:attr="src=${result.team.logoImageUrl}, class=${'light' + ' ' + 'team' + result.team.id}" src="">
                        <img th:attr="src=${result.team.logoImageUrlDark}, class=${'dark' + ' ' + 'team' + result.team.id}" src="">
                        <p th:if="${#locale.language == 'uk'}" th:text="${result.teamName}"></p>
                        <p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${result.getTeam().getTeamNameTransliterated()}"></p>
                    </a>
                </div>
            </div>

            <div class="table-games table-offset ">
                <div th:text="#{playedGames}" class="table-title"></div>
                <div th:each="result : ${resultList}">
                    <p th:text="${result.numberOfGames}"></p>
                </div>
            </div>
            <div class="table-points table-offset">
                <div th:text="#{points}" class="table-title"></div>
                <div th:each="result : ${resultList}">
                    <p th:text="${result.points}"></p>
                </div>
            </div>
        </div>
        <div class="table table-no-data" th:if="${#lists.isEmpty(resultList)}">
            <p th:text="#{noTableData}"></p>
        </div>
        <div class="table-button" th:if="${!#lists.isEmpty(resultList)}">
            <a th:href="'/' + ${seasonId} + '/league/' + ${leagueId} + '/gametable'" class="button-link-more" href="#">
                <button class="pure-material-button-text" th:text="#{seeMore}"></button>
            </a>
        </div>
        <p th:text="#{bestScorers}" class="table-header"></p>
        <div class="bomb league">
            <div class="bomb-position auto">
                <div class="bomb-title">№</div>
                <div th:each="playerGoal, iter : ${playerGoals}">
                    <p th:text="${playerGoal.formatPosition(iter.index)}"></p>
                </div>
            </div>
            <div class="bomb-player-name full">
                <div th:text="#{footballPlayer}" class="bomb-title"></div>
                <div th:each="playerGoal : ${playerGoals}">
                    <a th:attr="href=${'/' + seasonId + '/league/' + leagueId + '/player/' + playerGoal.player.id}">
                        <img id="playerPhoto" th:src="${playerGoal.player.imageUrl}" src="">
                        <p th:if="${#locale.language == 'uk'}" th:text="${playerGoal.player.lastName + ' ' + playerGoal.player.firstName}"></p>
                        <p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${playerGoal.player.getPlayerLastNameTransliterated() + ' ' + playerGoal.player.getPlayerFirstNameTransliterated()}"></p>
                    </a>
                </div>
            </div>
            <div class="bomb-scored auto">
                <div th:text="#{playerGoalsCount}" class="bomb-title"></div>
                <div th:each="playerGoal : ${playerGoals}">
                    <p th:text="${playerGoal.goalList.size()}"></p>
                </div>
            </div>
            <div class="bomb-team auto">
                <div th:text="#{team}" class="bomb-title"></div>
                <div th:each="playerGoal : ${playerGoals}">
                    <a th:attr="href=${'/' + seasonId + '/league/' + leagueId + '/team/' + playerGoal.player.team.id}">
                        <p th:if="${#locale.language == 'uk'}" th:text="${playerGoal.player.team.teamName}"></p>
                        <p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}" th:text="${playerGoal.player.team.getTeamNameTransliterated()}"></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="table-button" th:if="${!#lists.isEmpty(playerGoals)}">
            <a th:href="'/' + ${seasonId} + '/league/' + ${leagueId} + '/bombardier'" class="button-link-more" href="#">
                <button class="pure-material-button-text" th:text="#{seeMore}"></button>
            </a>
        </div>
        <p th:if="${!#lists.isEmpty(playerYellowCards) OR !#lists.isEmpty(playerRedCards)}" th:text="#{playerCards}" class="table-header"></p>
        <div th:if="${!#lists.isEmpty(playerYellowCards) OR !#lists.isEmpty(playerRedCards)}" class="bomb league">
            <div class="bomb-position auto">
                <div class="bomb-title">№</div>
                <div th:each="playerYellowCard, iter : ${playerYellowCards}">
                    <p th:text="${playerYellowCard.formatPosition(iter.index)}"></p>
                </div>
            </div>
            <div class="bomb-player-name full">
                <div th:text="#{footballPlayer}" class="bomb-title"></div>
                <div th:each="playerYellowCard : ${playerYellowCards}">
                    <a th:attr="href=${'/' + seasonId + '/league/' + leagueId + '/player/' + playerYellowCard.player.id}">
                        <img id="cardPlayerPhoto" th:src="${playerYellowCard.player.imageUrl}" src="">
                        <p th:if="${#locale.language == 'uk'}" th:text="${playerYellowCard.player.lastName + ' ' + playerYellowCard.player.firstName}"></p>
                        <p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}"
                           th:text="${playerYellowCard.player.getPlayerLastNameTransliterated() + ' ' + playerYellowCard.player.getPlayerFirstNameTransliterated()}"></p>
                    </a>
                </div>
            </div>
            <div class="bomb-scored auto">
                <div class="bomb-title card-title">
                    <i class="fas fa-square card card-yellow"></i>
                </div>
                <div th:each="playerYellowCard : ${playerYellowCards}">
                    <p th:text="${playerYellowCard.cardList.size()}"></p>
                </div>
            </div>
            <div class="bomb-scored auto">
                <div class="bomb-title card-title">
                    <i class="fas fa-square card card-red"></i>
                </div>
                <div th:each="playerRedCard : ${playerRedCards}">
                    <p th:text="${playerRedCard.cardList.size()}"></p>
                </div>
            </div>
            <div class="bomb-team auto">
                <div th:text="#{team}" class="bomb-title"></div>
                <div th:each="playerYellowCard : ${playerYellowCards}">
                    <a th:attr="href=${'/' + seasonId + '/league/' + leagueId + '/team/' + playerYellowCard.player.team.id}">
                        <p th:if="${#locale.language == 'uk'}" th:text="${playerYellowCard.player.team.teamName}"></p>
                        <p th:if="${#locale.language == 'en' || #locale.language == '' || #locale.language == null}"
                           th:text="${playerYellowCard.player.team.getTeamNameTransliterated()}"></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="table-button" th:if="${!#lists.isEmpty(playerYellowCards) OR !#lists.isEmpty(playerRedCards)}">
            <a th:href="'/' + ${seasonId} + '/league/' + ${leagueId} + '/cards'" class="button-link-more" href="#">
                <button class="pure-material-button-text" th:text="#{seeMore}"></button>
            </a>
        </div>
        <div class="table table-no-data" th:if="${#lists.isEmpty(playerGoals)}">
            <p th:text="#{noTableData}"></p>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="/signUpScript.js"></script>
<script src="/hamburger.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39722519-3"></script>
<script src="/imgPlaceholderSetScript.js" type="text/javascript"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-39722519-3');
</script>


</body>
</html>