<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title th:text="${'Ліга ' + league.name + ' | FootGo League'}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/img/footgo-dark-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/hamburger.css">
</head>
<body class="team-results-full">
<header>
    <div class="header-full">
        <div class="header-first-block">
            <div class="header-icon">
                <a href="/"><img class="header-img" src="/img/footgo-light-icon.png" alt="wiselogo"></a>
            </div>
            <div class="header-null">
                <a href="javascript:void(0)" class="icon" onclick="myFunction()">
                    <i class="hamburger fa fa-bars"></i>
                </a>
            </div>
            <div class="header-text">
                <a href="/"><p th:text="${season.name}"></p></a>
                <a th:href="'/league/' + ${league.id}"><p th:text="${league.name}"></p></a>
            </div>
        </div>
    </div>
    <div id="myLinks">
        <a href="/"><p th:text="${season.name}"></p></a>
        <a th:href="'/league/' + ${league.id}"><p th:text="${league.name}"></p></a>
    </div>
</header>
<div class="main-head league-main-head">
    <div class="main-head-title league-page">
        <h1 th:text="${league.name}"></h1>
    </div>
</div>
<div class="main-container">
    <div class="results vs-container">
        <div th:if="${game.isNoTechnicalDefeat() == true}" class="tour-number goals">
            <p>Матчі</p>
        </div>
        <div th:if="${not #lists.isEmpty(nearestTour)}" th:each="tour : ${nearestTour}" class="desktop">
            <div th:each="game : ${tour.gameList}" class="matches-bg">
                <div class="match-res-date">
                    <p th:text="${game.formatDate()} + ', ' + ${game.formatTime()}"></p>
                </div>
                <div class="review-match">
                    <div class="review-head">
                        <div class="review-team1">
                            <a th:attr="href=${'/league/' + leagueId + '/team/' + game.firstTeam.id}">
                                <img th:attr="src=${game.firstTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.firstTeam.id}">
                                <img th:attr="src=${game.firstTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.firstTeam.id}">
                                <p th:text="${game.firstTeam.teamName}">Команда 1</p>
                            </a>
                        </div>
                        <div th:if="${game.isNoTechnicalDefeat() == true}"
                             th:classappend="${game.formatGoalsForTeamA() == ''}?tbd" class="review-score">
                            <a th:attr="href=${'/league/' + leagueId + '/game/' + game.id}">
                                <p>
                                <span th:if="${game.isNoTechnicalDefeat() == true}"
                                      th:text="${game.formatGoalsForTeamA()}">game.teamAGoals.size()</span>
                                    <span th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamA() == ''}">TBD</span>
                                    <span th:if="${game.isTeamAHasTechnicalDefeat() == true}">0</span>
                                    <span th:if="${game.isTeamBHasTechnicalDefeat() == true}">3</span>
                                    :
                                    <span th:if="${game.isNoTechnicalDefeat() == true}"
                                          th:text="${game.formatGoalsForTeamB()}">game.teamBGoals.size()</span>
                                    <span th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamB() == ''}">TBD</span>
                                    <span th:if="${game.isTeamAHasTechnicalDefeat() == true}">3</span>
                                    <span th:if="${game.isTeamBHasTechnicalDefeat() == true}">0</span>
                                </p>
                            </a>
                        </div>
                        <div class="review-team2">
                            <a th:attr="href=${'/league/' + leagueId + '/team/' + game.secondTeam.id}">
                                <img th:attr="src=${game.secondTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.secondTeam.id}">
                                <img th:attr="src=${game.secondTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.secondTeam.id}">
                                <p th:text="${game.secondTeam.teamName}">Команда 2</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(nearestTour)}" th:each="tour : ${nearestTour}" class="res-tour-allmatch mobile">
            <div class="results-container league-results-container" th:each="game : ${tour.gameList}">
                <div class="res-teams">
                    <a th:attr="href=${'/league/' + leagueId + '/team/' + game.firstTeam.id}">
                        <img th:attr="src=${game.firstTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.firstTeam.id}">
                        <img th:attr="src=${game.firstTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.firstTeam.id}">
                        <p th:text="${game.firstTeam.teamName}">
                            game.firstTeam.teamName
                        </p>
                    </a>
                    <a th:attr="href=${'/league/' + leagueId + '/team/' + game.secondTeam.id}">
                        <img th:attr="src=${game.secondTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.secondTeam.id}">
                        <img th:attr="src=${game.secondTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.secondTeam.id}">
                        <p th:text="${game.secondTeam.teamName}">
                            game.secondTeam.teamName
                        </p>
                    </a>
                </div>
                <div class="res-score">
                    <a th:attr="href=${'/league/' + leagueId + '/game/' + game.id}">
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamA() != ''}"
                           th:text="${game.formatGoalsForTeamA()}">game.teamAGoals.size()</p>
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamA() == ''}">TBD</p>
                        <p th:if="${game.isTeamAHasTechnicalDefeat() == true}">0</p>
                        <p th:if="${game.isTeamBHasTechnicalDefeat() == true}">3</p>
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamB() != ''}"
                           th:text="${game.formatGoalsForTeamB()}">game.teamBGoals.size()</p>
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamB() == ''}">TBD</p>
                        <p th:if="${game.isTeamAHasTechnicalDefeat() == true}">3</p>
                        <p th:if="${game.isTeamBHasTechnicalDefeat() == true}">0</p>
                    </a>
                </div>
                <div class="res-date">
                    <p th:text="${game.formatDate()}"></p>
                    <p th:text="${game.formatTime()}"></p>
                </div>
            </div>
        </div>
        <div class="button-container">
            <a th:href="'/league/' + ${leagueId} + '/results'">
                <input class="reg-input-button match-all-button" type="button" value="ПЕРЕГЛЯНУТИ ВСІ"/>
            </a>
        </div>
<!--        <div th:each="tour : ${tourList}" class="results-block">
            &lt;!&ndash;<p>Найближчі ігри</p>&ndash;&gt;
            <div>
                <p class="res-tour-title" th:text="'Тур ' + ${tour.tourNumber}"></p>
            </div>
            &lt;!&ndash;                <div class="logo-team-bg league-team-bg">
                                <p>Team 1</p>
                                <p>VS</p>
                                <p>Team 2</p>
                            </div>&ndash;&gt;
            &lt;!&ndash;<input class="reg-input-button all-games-button" type="submit" onclick="allGames()"
                   value="Всі ігри">&ndash;&gt;

            <div class="results-container league-results-container" th:each="game : ${tour.gameList}">
                <div class="res-teams">
                    <a th:attr="href=${'/league/' + leagueId + '/team/' + game.firstTeam.id}">
                        <img th:attr="src=${game.firstTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.firstTeam.id}">
                        <img th:attr="src=${game.firstTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.firstTeam.id}">
                        <p th:text="${game.firstTeam.teamName}">
                            game.firstTeam.teamName
                        </p>
                    </a>
                    <a th:attr="href=${'/league/' + leagueId + '/team/' + game.secondTeam.id}">
                        <img th:attr="src=${game.secondTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.secondTeam.id}">
                        <img th:attr="src=${game.secondTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.secondTeam.id}">
                        <p th:text="${game.secondTeam.teamName}">
                            game.secondTeam.teamName
                        </p>
                    </a>
                </div>
                <div class="res-score">
                    <a th:attr="href=${'/league/' + leagueId + '/game/' + game.id}">
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamA() != ''}"
                           th:text="${game.formatGoalsForTeamA()}">game.teamAGoals.size()</p>
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamA() == ''}">TBD</p>
                        <p th:if="${game.isTeamAHasTechnicalDefeat() == true}">0</p>
                        <p th:if="${game.isTeamBHasTechnicalDefeat() == true}">3</p>
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamB() != ''}"
                           th:text="${game.formatGoalsForTeamB()}">game.teamBGoals.size()</p>
                        <p th:if="${game.isNoTechnicalDefeat() == true} and ${game.formatGoalsForTeamB() == ''}">TBD</p>
                        <p th:if="${game.isTeamAHasTechnicalDefeat() == true}">3</p>
                        <p th:if="${game.isTeamBHasTechnicalDefeat() == true}">0</p>
                    </a>
                </div>
                <div class="res-date">
                    <p th:text="${game.formatDate()}"></p>
                    <p th:text="${game.formatTime()}"></p>
                </div>
            </div>
        </div>-->
    </div>
    <div class="score-tables">
        <p class="table-header">Таблиця чемпіонату</p>
        <div class="table">
            <div class="table-position auto">
                <div class="table-title">№</div>
                <div th:each="result,i : ${resultList}" th:text="${i.count}"></div>
            </div>
            <div class="table-team-name full">
                <div class="table-title">Команда</div>

                <!--                    <div class="table-firstplace">-->
                <!--                        <a th:attr="href=${'/league/' + leagueId + '/team/' + firstPlace.team.id}">-->
                <!--                            <img th:attr="src=${firstPlace.team.logoImageUrl}, class=${'light' + ' ' + 'team' + firstPlace.team.id}">-->
                <!--                            <img th:attr="src=${firstPlace.team.logoImageUrlDark}, class=${'dark' + ' ' + 'team' + firstPlace.team.id}">-->
                <!--                            <p th:text="${firstPlace.team.teamName}"></p>-->
                <!--                        </a>-->
                <!--                    </div>-->

                <!--                    <div class="table-secondplace">-->
                <!--                        <a th:attr="href=${'/league/' + leagueId + '/team/' + secondPlace.team.id}">-->
                <!--                            <img th:attr="src=${secondPlace.team.logoImageUrl}, class=${'light' + ' ' + 'team' + secondPlace.team.id}">-->
                <!--                            <img th:attr="src=${secondPlace.team.logoImageUrlDark}, class=${'dark' + ' ' + 'team' + secondPlace.team.id}">-->
                <!--                            <p th:text="${secondPlace.team.teamName}"></p>-->
                <!--                        </a>-->
                <!--                    </div>-->

                <!--                    <div class="table-thirdplace">-->
                <!--                        <a th:attr="href=${'/league/' + leagueId + '/team/' + thirdPlace.team.id}">-->
                <!--                            <img th:attr="src=${thirdPlace.team.logoImageUrl}, class=${'light' + ' ' + 'team' + thirdPlace.team.id}">-->
                <!--                            <img th:attr="src=${thirdPlace.team.logoImageUrlDark}, class=${'dark' + ' ' + 'team' + thirdPlace.team.id}">-->
                <!--                            <p th:text="${thirdPlace.team.teamName}"></p>-->
                <!--                        </a>-->
                <!--                    </div>-->
                <div th:each="result : ${resultList}">
                    <a th:attr="href=${'/league/' + leagueId + '/team/' + result.team.id}">
                        <img th:attr="src=${result.team.logoImageUrl}, class=${'light' + ' ' + 'team' + result.team.id}">
                        <img th:attr="src=${result.team.logoImageUrlDark}, class=${'dark' + ' ' + 'team' + result.team.id}">
                        <p th:text="${result.teamName}"></p>
                    </a>
                </div>
            </div>

            <div class="table-games table-offset ">
                <div class="table-title">І</div>
                <div th:each="result : ${resultList}">
                    <p th:text="${result.numberOfGames}"></p>
                </div>
            </div>
            <div class="table-points table-offset">
                <div class="table-title">О</div>
                <div th:each="result : ${resultList}">
                    <p th:text="${result.points}"></p>
                </div>
            </div>
        </div>
        <div class="button-container">
            <a th:href="'/league/' + ${leagueId} + '/gametable'">
                <input class="reg-input-button match-all-button table-button" type="button" value="ПЕРЕГЛЯНУТИ ВСІ"/>
            </a>
        </div>
        <p class="table-header">Найкращі бомбардири</p>
        <div class="bomb league">
            <div class="bomb-position auto">
                <div class="bomb-title">№</div>
                <div th:each="playerGoal, iter : ${playerGoals}">
                    <p th:text="${playerGoal.formatPosition(iter.index)}"></p>
                </div>
            </div>
            <div class="bomb-player-name">
                <div class="bomb-title">Футболіст</div>
                <div th:each="playerGoal : ${playerGoals}">
                    <a th:attr="href=${'/league/' + leagueId + '/player/' + playerGoal.player.id}">
                        <p th:text="${playerGoal.player.lastName + ' ' + playerGoal.player.firstName}"></p>
                    </a>
                </div>
            </div>
            <div class="bomb-scored auto">
                <div class="bomb-title">М'ячів</div>
                <div th:each="playerGoal : ${playerGoals}">
                    <p th:text="${playerGoal.goalList.size()}"></p>
                </div>
            </div>
            <div class="bomb-team auto">
                <div class="bomb-title">Команда</div>
                <div th:each="playerGoal : ${playerGoals}">
                    <a th:attr="href=${'/league/' + leagueId + '/team/' + playerGoal.player.team.id}">
                        <p th:text="${playerGoal.player.team.teamName}"></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="button-container">
            <a th:href="'/league/' + ${leagueId} + '/bombardier'">
                <input class="reg-input-button match-all-button table-button" type="button" value="ПЕРЕГЛЯНУТИ ВСІ"/>
            </a>
        </div>
    </div>
</div>

<script src="/signUpScript.js"></script>
<script src="/hamburger.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39722519-3"></script>
<script src="/imgPlaceholderSetScript.js" type="text/javascript"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-39722519-3');
</script>


</body>
</html>