<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title th:text="${'Ліга ' + league.name + ' | FootGo League'}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/img/footgo-dark-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/hamburger.css">
</head>
<body class="team-results-full">
<header>
    <div class="header-full">
        <div class="header-first-block">
            <div class="header-icon">
                <a href="/"><img class="header-img" src="/img/footgo-light-icon.png" alt="wiselogo"></a>
            </div>
            <div class="header-null">
                <a href="javascript:void(0)" class="icon" onclick="myFunction()">
                    <i class="hamburger fa fa-bars"></i>
                </a>
            </div>
            <div class="header-text">
                <a href="/signup" th:if="${season.getIsSubmissionOpened() == false}"><p>Реєстрація</p></a>
                <a href="/results"><p>Результати</p></a>
                <a href="/gametable"><p>Таблиця</p></a>
                <a href="/bombardier"><p>Бомбардири</p></a>
            </div>
        </div>
    </div>
    <div id="myLinks">
        <div th:if="${season.getIsSubmissionOpened() == false}"><a class="link-item" href="/signup">Реєстрація</a></div>
        <div><a class="link-item" href="/results">Результати</a></div>
        <div><a class="link-item" href="/gametable">Таблиця</a></div>
        <div><a class="link-item" href="/bombardier">Бомбардири</a></div>
    </div>
</header>
<div class="main-league-container">
    <div class="bomb-head">
        <p th:text="${season.name} + ' | ' + ${league.name}"></p>
    </div>
    <div class="main-container">
        <div class="results vs-container">
            <div class="results-block">
                <p>Найближчі ігри</p>
                <div class="logo-team-bg league-team-bg">
                    <p>Team 1</p>
                    <p>VS</p>
                    <p>Team 2</p>
                </div>
                <input class="reg-input-button all-games-button" type="submit" onclick="allGames()"
                       value="Всі ігри">
            </div>
        </div>
        <div>
            <p class="table-header">Таблиця чемпіонату</p>
            <div class="table league">
                <div class="table-position auto">
                    <div class="table-title">№</div>
                    <div class="table-firstplace">1</div>
                    <div class="table-secondplace">2</div>
                    <div class="table-thirdplace">3</div>
                    <div>4</div>
                </div>
                <div class="table-team-name full">
                    <div class="table-title">Команда</div>

                    <div class="table-firstplace">
                        <a href="/team/4">
                            <img src="https://footgo-league.com/viewFile/83ec7888-3085-43f1-af06-7818607e8090"
                                 class="light team4">
                            <img src="https://footgo-league.com/viewFile/8df6c44d-1589-43b2-8ef6-6a2fbdb90fac"
                                 class="dark team4">
                            <p>ФК Феміда Львів</p>
                        </a>
                    </div>

                    <div class="table-secondplace">
                        <a href="/team/1">
                            <img src="https://footgo-league.com/viewFile/bdaf684d-55f4-41ce-97ad-61b70f2f8e78"
                                 class="light team1">
                            <img src="https://footgo-league.com/viewFile/16218b1e-24ee-4a82-99de-972d7bb7d703"
                                 class="dark team1">
                            <p>ФК Сокіл</p>
                        </a>
                    </div>

                    <div class="table-thirdplace">
                        <a href="/team/5">
                            <img src="https://footgo-league.com/viewFile/21fdb2dd-034f-455b-aa55-5559ec5c28c5"
                                 class="light team5">
                            <img src="https://footgo-league.com/viewFile/b8f75a40-1338-4f26-a155-e6d476ab09da"
                                 class="dark team5">
                            <p>Прометей 2.0</p>
                        </a>
                    </div>


                    <div>
                        <a href="/team/7">
                            <img src="https://footgo-league.com/viewFile/59cb059f-da59-4923-b8eb-ea8d00701eb1"
                                 class="light team7">
                            <img src="https://footgo-league.com/viewFile/55c51bbc-b56a-4416-a271-78fe27a81b01"
                                 class="dark team7">
                            <p>ФК Батяри</p>
                        </a>
                    </div>
                </div>

                <div class="table-games table-offset ">
                    <div class="table-title">І</div>
                    <div class="table-firstplace">9</div>
                    <div class="table-secondplace">9</div>
                    <div class="table-thirdplace">9</div>
                    <div>
                        <p>9</p>
                    </div>
                </div>
                <div class="table-points table-offset">
                    <div class="table-title">О</div>
                    <div class="table-firstplace">21</div>
                    <div class="table-secondplace">21</div>
                    <div class="table-thirdplace">21</div>
                    <div>
                        <p>20</p>
                    </div>
                </div>
            </div>
            <p class="table-header">Кращі бомбардири</p>
            <div class="bomb league">
                <div class="bomb-position auto">
                    <div class="bomb-title">№</div>
                    <div>
                        <p>1</p>
                    </div>
                    <div>
                        <p>2</p>
                    </div>
                </div>
                <div class="bomb-player-name">
                    <div class="bomb-title">Футболіст</div>
                    <div>
                        <a href="/player/108">
                            <p>Саган Василь</p>
                        </a>
                    </div>
                    <div>
                        <a href="/player/102">
                            <p>Лещишин Лесик</p>
                        </a>
                    </div>
                </div>
                <div class="bomb-scored auto">
                    <div class="bomb-title">М'ячів</div>
                    <div>
                        <p>10</p>
                    </div>
                    <div>
                        <p>8</p>
                    </div>
                </div>
                <div class="bomb-team auto">
                    <div class="bomb-title">Команда</div>
                    <div>
                        <a href="/team/5">
                            <p>Прометей 2.0</p>
                        </a>
                    </div>
                    <div>
                        <a href="/team/5">
                            <p>Прометей 2.0</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/signUpScript.js"></script>
<script src="/hamburger.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39722519-3"></script>
<script src="/imgPlaceholderSetScript.js" type="text/javascript"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-39722519-3');
</script>


</body>
</html>