<html>
<head>
    <meta charset="utf-8">
    <title>Create an account</title>
</head>

<body>

<div>

    <form method="POST" th:object="${userForm}">
        <h2>Create your account</h2>
            <div class="form-group">
                <input type="text" th:field="*{username}" class="form-control" placeholder="Username" autofocus="true"/>
            </div>

            <div>
                <input type="password" th:field="*{password}" placeholder="Password"/>
            </div>

            <div class="form-group ${status.error ? 'has-error' : ''}">
                <input type="password" th:field="*{passwordConfirm}" placeholder="Confirm your password"/>
            </div>

        <button type="submit">Submit</button>
    </form>

</div>

</body>
</html>