<html>
<head>
    <meta charset="utf-8">
    <title>Create an account</title>
</head>

<body>

<div>

    <form method="POST" th:object="${userForm}">
        <h2>Create your account</h2>
        <div>
            <input type="text" th:field="*{email}" class="form-control" placeholder="Email" autofocus="autofocus"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div>
            <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" autofocus="autofocus"/>
        </div>

        <div>
            <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" autofocus="autofocus"/>
        </div>

        <div>
            <input type="password" th:field="*{password}" placeholder="Password"/>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <div>
            <input type="password" th:field="*{passwordConfirm}" placeholder="Confirm your password"/>
            <div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></div>
        </div>

        <button type="submit">Submit</button>
    </form>

</div>

</body>
</html>