<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="img/footgo-dark-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="hamburger.css">

</head>
<body class="registration-photo">
<header>
    <div class="header-full">
        <div class="header-first-block">
            <div class="header-icon">
                <a href="/"><img class="header-img" src="img/footgo-light-icon.png" alt="wiselogo"></a>
            </div>
            <div class="header-null">
                <a href="javascript:void(0)" class="icon" onclick="myFunction()">
                    <i class="hamburger fa fa-bars"></i>
                </a>
            </div>
            <div class="header-text">
                <a href="/signup" th:if="${league.getIsSubmissionOpened() == false}"><p>Реєстрація</p></a>
                <a href="/results"><p>Результати</p></a>
                <a href="/gametable"><p>Таблиця</p></a>
                <a href="/bombardier"><p>Бомбардири</p></a>
            </div>
        </div>
    </div>
    <div id="myLinks">
        <div th:if="${league.getIsSubmissionOpened() == false}"><a class="link-item" href="/signup"><p>Реєстрація</p></a></div>
        <div><a class="link-item" href="/results"><p>Результати</p></a></div>
        <div><a class="link-item" href="/gametable"><p>Таблиця</p></a></div>
        <div><a class="link-item" href="/bombardier"><p>Бомбардири</p></a></div>
    </div>
</header>
<div>
 <div class="registration-form">
         <div class="reg-end" th:if="${league.getIsSubmissionOpened() == true}">
            <p>Реєстрацію завершено</p>
             <p>Дякуємо за участь!</p>
         </div>
     <form name="signUpForm" th:if="${league.getIsSubmissionOpened() == false}">
            <div id="hideifsuccess_0" class="team-capitan">
                <div class="team-name">
                    <p>Назва команди</p>
                    <input type="text" name="teamName" placeholder="Назва команди" required>
                </div>
                <div class="capitan">
                    <p>Капітан команди</p>
                    <input type="text" name="captainName" placeholder="Прізвище, ім'я" required>
                    <input type="tel" name="captainPhone" pattern="[0-9]{10}" placeholder="номер телефону 093 ..." required>
                    <input type="email" name="captainEmail" placeholder="Введіть email" required>
                </div>
            </div>
            <div id="success" class="player-bg"><p>Запит успішно надіслано!</p></div>
            <div id="error" class="player-bg"><p>Помилка при надсиланні запиту! Зв'яжіться з з адміністраторами footgo.league@gmail.com </p></div>

        <input class="reg-input-button" type="submit" onclick="submitform()" value="Зареєструватися">
     </form>
 </div>
</div>
<script src="signUpScript.js" type="text/javascript"></script>
<script src="hamburger.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39722519-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-39722519-3');
</script>


</body>
</html>