<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title th:text="${'Команда ' + team.teamName + ' | FootGo League'}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/img/footgo-dark-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/hamburger.css">


</head>
<body class="team-results-full">
<header>
    <div class="header-full">
        <div class="header-first-block">
            <div class="header-icon">
                <a href="/"><img class="header-img" src="/img/footgo-light-icon.png" alt="wiselogo"></a>
            </div>
            <div class="header-null">
                <a href="javascript:void(0)" class="icon" onclick="myFunction()">
                    <i class="hamburger fa fa-bars"></i>
                </a>
            </div>
            <div class="header-text">
                <a href="/signup" th:if="${league.getIsSubmissionOpened() == false}"><p>Реєстрація</p></a>
                <a href="/results"><p>Результати</p></a>
                <a href="/gametable"><p>Таблиця</p></a>
                <a href="/bombardier"><p>Бомбардири</p></a>
            </div>
        </div>
    </div>
    <div id="myLinks">
        <div th:if="${league.getIsSubmissionOpened() == false}"><a class="link-item" href="/signup">Реєстрація</a></div>
        <div><a class="link-item" href="/results">Результати</a></div>
        <div><a class="link-item" href="/gametable">Таблиця</a></div>
        <div><a class="link-item" href="/bombardier">Бомбардири</a></div>
    </div>
</header>
<div>
    <div class="results">
        <div class="results-bg">
            <div class="results-block">
                <div class="logo-team-bg">
                    <img th:attr="src=${team.logoImageUrl}, class=${'light' + ' ' + 'team' + team.id}">
                    <img th:attr="src=${team.logoImageUrlDark}, class=${'dark' + ' ' + 'team' + team.id}">
                    <p th:text="${team.teamName}"></p>
                    <p>Місце в чемпіонаті - <span th:text="${position}">8</span></p>
                </div>
            </div>
            <h3>Ігри</h3>
            <div class="results-all-tour">
                <div th:each="game : ${gameList}" class="results-container">
                    <div class="res-teams">
                        <a th:attr="href=${'/team/' + game.firstTeam.id}">
                            <img th:attr="src=${game.firstTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.firstTeam.id}">
                            <img th:attr="src=${game.firstTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.firstTeam.id}">
                            <p th:text="${game.firstTeam.teamName}">
                                game.firstTeam.teamName
                            </p>
                        </a>
                        <a th:attr="href=${'/team/' + game.secondTeam.id}">
                            <img th:attr="src=${game.secondTeam.logoImageUrl}, class=${'light' + ' ' + 'team' + game.secondTeam.id}">
                            <img th:attr="src=${game.secondTeam.logoImageUrlDark}, class=${'dark' + ' ' +  'team' + game.secondTeam.id}">
                            <p th:text="${game.secondTeam.teamName}">
                                game.secondTeam.teamName
                            </p>
                        </a>
                    </div>
                    <div class="res-score">
                        <a th:attr="href=${'/game/' + game.id}">
                            <p th:if="${game.isNoTechnicalDefeat() == true}" th:text="${game.formatGoalsForTeamA()}">game.teamAGoals.size()</p>
                            <p th:if="${game.isTeamAHasTechnicalDefeat() == true}">0</p>
                            <p th:if="${game.isTeamBHasTechnicalDefeat() == true}">3</p>
                            <p th:if="${game.isNoTechnicalDefeat() == true}" th:text="${game.formatGoalsForTeamB()}">game.teamBGoals.size()</p>
                            <p th:if="${game.isTeamAHasTechnicalDefeat() == true}">3</p>
                            <p th:if="${game.isTeamBHasTechnicalDefeat() == true}">0</p>
                        </a>
                    </div>
                    <div class="res-date">
                        <p th:text="${game.formatDate()}"></p>
                        <p th:text="${game.formatTime()}"></p>
                    </div>
                </div>
                    <!--<div class="results-date">-->
                        <!--<p th:text="${game.formatDate() + '  ' + game.formatTime()}">-->
                            <!--game.gameTime-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div class="results-team1">-->
                        <!--<p th:text="${game.firstTeam.teamName}">-->
                            <!--game.firstTeam.teamName-->
                        <!--</p>-->
                        <!--<img th:attr="src=${'/logo/logo' + game.firstTeam.id + '.png'}">-->
                    <!--</div>-->
                    <!--<div class="results-score"><p>-->
                        <!--<span th:text="${game.teamAGoals.size()}">game.teamAGoals.size()</span>-->
                        <!--:-->
                        <!--<span th:text="${game.teamBGoals.size()}">game.teamBGoals.size()</span></p>-->
                    <!--</div>-->
                    <!--<div class="results-team2">-->
                        <!--<img th:attr="src=${'/logo/logo' + game.secondTeam.id + '.png'}">-->
                        <!--<p th:text="${game.secondTeam.teamName}">-->
                            <!--game.secondTeam.teamName-->
                        <!--</p>-->
                    <!--</div>-->
                </div>
        </div>
        </div>

        </div>
    </div>

    <div class="team-players">
        <h3>Гравці</h3>
        <div class="all-players">
            <div th:each="item : ${team.players}">
                    <a th:attr="href=${'/player/' + item.id}">
                        <div class="player-card">
                            <div class="player-photo">
                                <img src="/img/tshirt.png">
                                <span th:if="${item.isTwoDigits() == false}" class="player-1digit">
                                    <span th:text="${item.formatNumber()}"></span>
                                </span>
                                <span th:if="${item.isTwoDigits() == true}" class="player-2digit">
                                    <span th:text="${item.formatNumber()}"></span>
                                </span>
                            </div>
                            <div class="player-info">
                                <div class="player-logo">
                                    <img th:if="${item.getImageUrl() != null}" th:attr="src=${item.getImageUrl()}">
                                    <img th:if="${item.getImageUrl() == null}" src="/img/img_avatar.png">
                                </div>
                                <div class="player-score-name">
                                    <h4 th:text="${item.getPlayerFirstName()}"></h4>
                                    <h4 th:text="${item.getPlayerLastName()}"></h4>
                                </div>
                             </div>
                        </div>
                    </a>
            </div>
        </div>
    </div>

</div>
<script src="/signUpScript.js"></script>
<script src="/hamburger.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39722519-3"></script>
<script src="/imgPlaceholderSetScript.js" type="text/javascript"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-39722519-3');
</script>


</body>
</html>