<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title th:text="#{loginForm}"></title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="img/footgo-dark-icon.png" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
</head>
<body class="login-page">

<div sec:authorize="isAuthenticated()">
    <script th:inline="javascript">
    window.location.href = '/';
    </script>
</div>

<div class="login-form">
    <form method="POST" th:action="@{/login}" class="form-signin">
        <h1 th:text="#{signIn}" class="login-form-typography-h5 login-form-typography-root"></h1>
        <div class="form-container">
            <input name="username" type="email" placeholder="Email" autofocus="autofocus"/>
            <input name="password" type="password" placeholder="Password"/>
            <button th:text="#{signIn}" class="button-full-width button-login button-contained-primary button-root button-base-root button-root-login" type="submit"></button>
            <div class="labels-login-container">
                <div class="button-grid-item button-grid-xs-true">
                    <a th:text="#{forgotPassword}" th:href="@{/forgot}" class="button-underline-hover button-typography-body2 button-typography-color-primary"></a>
                </div>
                <div class="button-grid-item button-grid-second">
                    <a th:text="#{signUp}" th:href="@{/registration}" class="button-underline-hover button-typography-body2 button-typography-color-primary"></a>
                </div>
            </div>
        </div>
        <p th:if="${message}" th:text="${message}"></p>
        <!--<p class="login-error" th:if="${param.error}" th:text="#{loginError}"></p>-->
        <p class="login-error" th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></p>
        <!--<p class="login-error" th:if="${error}" th:text="#{loginError}"></p>-->
        <!--<p class="login-error" th:if="${param.error}">Login failed!</p>-->
    </form>
</div>

</body>
</html>