* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #cee0dd;
    max-width: 900px;
    margin: 0 auto;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.admin-main {
    display: flex;
    justify-content: space-around;
}

.bar-block {
    display: flex;
    max-width: 720px;
    width: 830px;
}
.bar-block p {
}
.bar-application, .bar-games, .bar-reward {
    width: 33.3%;
}


.admin-logo {
}
.admin-img {
    padding: 1em;
    max-height: 180px;
    max-width: 180px;
}
.admin-bar {
}
.admin-bar p {
    font-size: 2em;
    font-weight: 600;
    padding-top: 1em;
    text-align: center;
}
.progress-title {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
.progress-title p, .bar-block p {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 10px;
}
.progress-bar {
    display: flex;
    justify-content: space-around;

}
.circle {
    width: 17px;
    height: 17px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 auto;
}
.circle-point {
    width: 1px;
    height: 1px;
    border: 1px solid black;
    background-color: #000;
    border-radius: 50%;
    position: relative;
    top: 7px;
    left: 7px;
}
.circle-line {
    width: 40%;
    border-bottom: 2px solid black;
    position: relative;
    top: -10px;
}
.circle:nth-of-type(2)::after {
    border-bottom: 2px solid black;
    width: 100px;
    position: relative;
    top: -10px;
}

.b-someclass {
    text-align: center;
}
.b-someclass-inner {
    display: inline-block;
    width: 450px;
    vertical-align: top;
    position: relative;
}
.b-someclass-inner:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    width: calc(100% - 30px);
    height: 6px;
    background: #000;
    margin-top: -3px;
    z-index: 2;
}
.b-someclass-inner input {
    display: none;
}
.b-someclass-inner input + label {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 50%;
    position: relative;
    z-index: 9;
}
.b-someclass-inner input + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    margin: -25% 0 0 -25%;
    border-radius: 50%;
    background: tomato;
    transform: scale(0);
    transition: .25s;
    transition-delay: .2s;
}
.b-someclass-inner input:checked + label:after {
    background: tomato;
    transform: scale(1);
}
.b-someclass-line {
    position: absolute;
    top: 50%;
    margin-top: -3px;
    left: 15px;
    width: 0;
    height: 6px;
    background: tomato;
    transition: .35s;
    z-index: 2;
    pointer-events: none;
}
.b-someclass-inner input:checked + label ~ .b-someclass-line {
    left: 50px;
}
.b-someclass-inner #check-2:checked + label ~ .b-someclass-line {
    width: calc(100% / 6 * 2);
}
.b-someclass-inner #check-3:checked + label ~ .b-someclass-line {
    width: calc(100% / 6 * 4);
}
/*.b-someclass-inner #check-4:checked + label ~ .b-someclass-line {*/
    /*width: calc(100% / 6 * 3);*/
/*}*/
/*.b-someclass-inner #check-5:checked + label ~ .b-someclass-line {*/
    /*width: calc(100% / 6 * 4);*/
/*}*/
/*.b-someclass-inner #check-6:checked + label ~ .b-someclass-line {*/
    /*width: calc(100% / 6 * 5);*/
/*}*/


.requests {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.requests p {
    font-size: 1.7rem;
    font-weight: 600;
    padding-bottom: 20px;
}
.all-requests {
    display: flex;
    flex-wrap: wrap;
}
.request-block {
    padding: 24px 16px;
    margin: 10px 15px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),
                0px 1px 1px 0px rgba(0,0,0,0.14),
                0px 2px 1px -1px rgba(0,0,0,0.12);
    cursor: pointer;
}
.request-block h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.33;
}
.request-block p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
@media screen and (max-width: 667px) {
    .admin-bar {
        display: none;
    }
}

/*SubmissionEntryEdit*/
.team-request {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 40px;

}
.team-request h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
}
.team-request p {
    font-size: 1.2rem;
    font-weight: 400;
}
.admin-team-name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.admin-team-name p {
    margin-right: 15px;
}
.admin-capitan {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}
.admin-capitan p {
    margin-bottom: 5px;
    margin-right: 10px;
}
.admin-capitan input[type=text], .admin-capitan input[type=tel], .admin-capitan input[type=email] {
    margin-right: 15px;
    margin-left: 70px ;
}

.admin-players {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.admin-players p {
    margin-right: 10px
}
.admin-player-name {
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.admin-title-row {
    text-align: left;
}
input[type=text], input[type=tel], input[type=email], select {
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background: #fff;
}

.main-input-button {
    color: #fff;
    background-color: #4e73ad;
    font-size: 1.7em;
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.main-input-button:hover {
    background-color: #285294;
    border-radius: 10px;
}
.admin-tour-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.tour-match {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 1.3rem;
}
.tour-team1, .tour-team2 {
    display: flex;
}
.tour-team1 span {
    margin-left: 10px;
    cursor: pointer;
}
.tour-score {
    padding: 0 20px;
    font-size: 1.5rem;
    cursor: pointer;
}
.tour-team2 span {
    margin-right: 10px;
    cursor: pointer;
}
/*modal*/
#myBtn {
    padding: 0px 6px;
    border: 1px solid #15274a;
    border-radius: 50%;
}
#myBtn:hover {
    background-color: #67bae0;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #cee0dd;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 360px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -2px;
    right: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 10px 16px;
    font-size: 1.3rem;
    text-align: center;
}
.modal-body, .modal-body-goal {
    padding: 2px 16px;
    font-size: 1.2rem;
}

/*modal end*/
.goal-minute, .goal-author {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.goal-minute input, .goal-author select {
    width: 200px;
}
.goal-add {
    display: flex;
    justify-content: center;
}
.modal-goal {
    display: flex;
    justify-content: space-between;
    width: 330px;
}
.modal-goal h3 {
    font-size: 1.3rem;
    padding: 10px;
}
.modal-goal p {
    font-size: 1.2rem;
    padding: 5px 10px;
}
.modal-goal img {
    width: 16px;
    height: 16px;
    padding-right: 5px;
}
.modal-goal span {
    font-size: 2rem;
    cursor: pointer;
    color: red;
    padding-left: 5px;
}
.modal-goal span:hover {
    color: #FF6A4F;
}