/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}

#myLinks {
    display: none;
}

.link-item {
    display: block;
    height: 2em;
    color: white;
    padding: 10px 0 0 10px;
    font-size: 20px;
    cursor: pointer;
}
.link-item a, a:hover {
    color:#868686 ;
}


.hamburger {
    font-size: 45px;
    color: white;
    padding: 10px;
}