* {
    margin: 0;
    padding: 0;
}
body {
/*    height: 100%;*/
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
body p {
    white-space: nowrap;
}
header   {
    background-color: #0D0B20;
}
.header-full {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
/*    height: 100%;*/
    margin: 0 auto;
}
.header-first-block {
    display: flex;
}
.header-img {
    padding: 0.3em;
    max-height: 48px;
    max-width: 48px;
}
a {
    text-decoration: none;
}
a, a:hover {
	color: #212121;
}
.header-null {
    display: none;
}
.header-text, .header-icon, .header-second-block, .header-sign-in-block, .header-right-block {
    display: flex;
    align-items: center;
}
.header-text p {
    color: #fff;
    font-size: 1.2em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding: 1em;
}
.header-text p:hover {
    color: #868686;
}

.dropbtn {
    cursor: pointer;
    padding: 16px;
    font-size: 1.2rem;
    border: none;
}
.season-list, lang-switcher {
    position: relative;
    display: inline-block;
}
.prev-seasons, .lang-list, .sign-in-list {
    background-color: #0D0B20;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.prev-seasons a, .lang-list a, .sign-in-list a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
}

.season-list:hover .prev-seasons {display: block;}

.season-list:hover .dropbtn {background-color: #868686;}

.lang-switcher:hover .lang-list {
    display: block;
}
.sign-in:hover .sign-in-list {
    display: block;
}
.sign-in {
    margin-right: 2px;
}
.lang-switcher:hover .dropbtn, .sign-in:hover .dropbtn {
    background-color: #868686;
}

.main-block {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.main-text, .main-where-when, .main-league, .main-cup {
    display: flex;
    padding-top: 20px;
}
.main-league {
    flex-wrap: wrap;
}
.main-where, .main-when, .main-about, .main-video, .request-block, .matches-bg, .logo-team-bg, .photo-team-bg {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}
.instagram-iframe {
    margin-bottom: 1em;
    width: 100%;
    display: none;
}
.main-video {
    justify-content: space-between;
}
.main-where h1, .main-when h1 {
    font-size: 1.5rem;
    padding: 10px 0 0 10px;
    line-height: 1.4;
}
.main-about-team-match {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    height: 100%;
    max-height: 220px;
}
.main-about-league {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.main-about-team, .main-about-match {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main-about-team img, .main-about-match img {
    width: 72px;
}
.main-about p {
    font-size: 1rem;
    padding: 10px 0 5px 0;
}
.main-description {
    padding: 10px 0 0 10px !important;
}
.main-where p {
    font-size: 0.9rem;
    padding: 0 0 5px 10px;
}
.main-where iframe, .main-video iframe {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    padding: 10px 0 0 0;
}
.main-video iframe {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.main-when, .main-video {
    margin-left: 20px;
}
.main-league .main-about/*:not(:last-child)*/, .main-cup .main-about/*:not(:last-child)*/ {
    margin-bottom: 20px;
}
.main-league .main-about:nth-child(2n+1) {
    margin-right: 20px;
}
.main-league .main-about, .main-cup .main-about {
    padding-bottom: 10px;
    max-width: 440px;
/*    align-self: baseline;*/
}
.main-league .main-about/*:last-child*/ {
    /*align-self: baseline;*/
}
.request-block:hover, .request-block:focus {
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.2), 0 2px 8px 4px rgba(60, 64, 67, 0.1);
}
.main-when ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.main-when ul li {
    padding: 5px 10px;
    overflow: hidden;
}
.main-when ul span {
    font-size: 1.2rem;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    padding: 3px;
    margin: 1px;
    border-radius: 3px;
}
.main-when p {
    padding: 10px 5px 10px 20px;
    white-space: normal;
}
.main-when-gametime {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-when-time {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0 10px;
}
.main-photo {
    /*background: url("img/foot11.jpg");*/
    /*background-position: center;*/
    /*background-size: cover;*/
    background-color: #f7f7f5;
/*    height: 100vh ;*/
}
.main-head {
    background: url("img/mainphoto.jpg");
    background-position: center;
    background-size: cover;
/*    height: 50vh;*/
    width: 100%;
    padding-top: 15vh;
}
.results-background {
    background: url(img/foot66.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
/*    padding-top: 20vh;*/
}
.player-background {
    background: url(img/foot77.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
/*    padding-top: 20vh;*/
}
.gametable-background {
    background: url(img/foot22.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
    padding-top: 15vh;
}
.bombardier-background {
    background: url(img/foot44.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
/*    padding-top: 20vh;*/
}
.league-team-background {
    background: url(img/foot66.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
/*    padding-top: 20vh;*/
}
.signup-background {
    background: url(img/foot33.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
    padding-top: 20vh;
}
.main-head-title {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}
.league-page {
    max-width: 450px;
}
.league-main-head, .main-head-results {
    height: 0;
    padding-bottom: 250px;
}
.main-head-title .main-head-logo {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background-image: url(img/footgo-dark-icon.png);
    background-size: cover;
}
.main-head-teamlogo {
    flex-flow: wrap;
    display: flex;
    padding-bottom: 5px;
}
.main-head-teamlogo img {
    /*width: 90%;*/
    height: 90%;
}
.main-head-eachteam {
    width: 85px;
    height: 85px;
}
.main-head h1 {
    padding: 20px 0 20px 0;
}
iframe {
    margin: 0 auto;
    padding: 10px 0;
}
.instagram-iframe iframe {
    height: 580px;
}
.main-about h1, .main-video h1 {
    font-size: 1.5rem;
    padding: 10px 0 0 10px;
}
.main-about h3 {
    font-size: 2.2em;
    padding: 0 30px 20px 30px;
    color: #dfdfe5;
}
.slogan-button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.main-input-button {
    width: auto;
    height: auto;
    color: #fff;
    background-color: #42a444;
    font-size: 2em;
    padding: 10px 30px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.main-input-button:hover {
    background-color: #347e36;
    border-radius: 10px;
}
.main-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.request-block {
    width: 75px;
    padding: 20px 10px;
    margin: 5px 5px;
}
.request-block p {
    padding: 0;
    text-align: center;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.registration-photo {
/*    background: url("img/foot33.jpg");*/
    background: #f7f7f5;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.registration-form, .user-registration-form, .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
    font-size: 1.2em;
    text-align: center;
}
.player-bg p {
    white-space: normal;
}
.login-form, .user-registration-form {
    margin-top: 2em;
    background: #ffff;
}
.registration-page {
    display: flex;
    flex-direction: inherit;
    height: fit-content;
}
.user-registration-form, .reset-password-form {
    width: 100%;
    max-width: 25em;
}
.login-form-typography-h5 {
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
}
.form-container {
    margin-top: 16px;
}
.login-form-typography-root {
    margin: 0;
}
.reg-end {
    margin: 0 auto;
}
.reg-end p {
    color: #fff;
    font-size: 3rem;
}
input[type=text], input[type=tel], input[type=email], input[type=password] {
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #ffffff;
    border: 1px solid #9b9b9b;
    border-radius: 4px;
}
.team-captain {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}
.team-name {
/*    background-color: rgba(220,216,216, 0.5);*/
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;
}
.capitan {
/*    background-color: rgba(220,216,216, 0.5);*/
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;
}
.team-name, .capitan {
    background-color: #fff;
}
.capitan p, .team-name p {
    font-size: 1.2em;
    font-weight: 700 ;
    margin-bottom: .5em;
}
#success {
    display: none;
}
#error {
	display: none;
}
.note {
    text-align: left;
    margin-bottom: 1em;
}
.player-bg {
    background-color: rgba(220,216,216, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;
}
.player p {
    font-weight: 600;
}
.player1-3 {
    display: flex;
    justify-content: space-around;
}
input[type=text], input[type=tel], input[type=email], input[type=password] {
    width: 80%;
}
input[type=submit] {
    padding: 15px;
/*    margin: 5px 0 10px 0;*/
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.reg-input-button {
    -webkit-appearance: none;
    width: auto;
    height: auto;
    background-color: #42a444;
    font-size: 1.5em;
    color: #fff;
    padding: 7px 30px;
/*    margin-top: 50px;*/
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.reg-input-button:hover {
    background-color: #347e36;
    border-radius: 10px;
}
.button-full-width {
    width: 100%;
}
.button-login {
    margin: 24px 0px 16px;
}
.button-contained-primary {
    background-color: #1976d2;
    color: #ffff;
    cursor: pointer;
}
.button-contained-primary:hover {
    background-color: rgb(17, 82, 147);
}
.button-root {
    border: 0;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}
.button-root-login {
    width: 80%;
}
.labels-login-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.button-grid-xs-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
    text-align: left;
}
.button-grid-second {
    text-align: right;
    max-width: 55%;
}
.button-underline-hover {
    text-decoration: none;
}
.button-underline-hover:hover {
    text-decoration: underline;
}
.button-typography-color-primary {
    color: #1976d2;
}
.button-typography-body2 {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}
.button-grid-item {
    margin: 0;
    box-sizing: border-box;
}
.login-page {
    background: #f7f7f5;
}
.login-error, .forgot-error {
    padding-top: 20px;
    white-space: normal;
    max-width: 20em;
    margin: 0 auto;
}
.registration-error {
    white-space: normal;
    font-size: 10pt;
}
.forgot-error, .forgot-success {
    white-space: normal;
    padding-top: 20px;
    margin: 0 auto;
    max-width: 20em;
}
.reset-error, .reset-success {
    padding: 0;
    margin-bottom: 20px;
}
.forgot-description {
    white-space: normal;
    margin: 20px;
    max-width: 20em;
}
.reset-description {
    white-space: normal;
    margin: auto;
    padding-top: 20px;
    max-width: 20em;
}
.all-games-button {
    margin: 0 auto !important;
}
.table-container {
    margin-bottom: 3rem;
}
.table-full {
/*    background: url("img/foot22.jpg");*/
    background: #f7f7f5;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.table-head, .bomb-head {
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-top: 7px;
}
.table-head p {
    font-size: 2.2em;
    font-weight: 700;
/*    color: #fff;*/
    margin: 10px 0 10px 0;
}
body{
  display:flex;
  flex-direction:column;
}
footer{
  margin-top:auto;
}
.table, .bomb {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    line-height: 2.3;
    text-align: center;
    font-size: 1.1em;
/*    font-weight: 600;
    margin-bottom: 20px;*/
}
.empty-text-error, .login-error, .forgot-error, .registration-error {
    color: #b00020;
    text-align: center;
}
.forgot-success {
    color: #018786;
    text-align: center;
}
.table-position, .bomb-position {
    width: 5%;
}
.table-team-name {
    width: 45%;
    text-align: left;
}
.table-team-name div {
    display: flex;
    align-items: center;
}
.table-team-name img {
    width: 30px;
    /*height: 25px;*/
    padding-left: 5px;
}
.table-team-name p {
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-team-name a {
    display: flex;
    align-items: center;
}
.table-team-name div:first-child {
    text-align: center;
}
.table-offset {
    width: 40px;
}
.table-goals {
    width: 60px;
}
.table-title, .bomb-title {
    background-color: rgba(108, 118, 136, 0.6);
}
.table-firstplace, .bomb-firstplace {
    background-color: rgba(143, 217, 71,0.7);
}
.table-secondplace, .bomb-secondplace{
    background-color: rgba(217, 212, 71,0.7);
}
.table-thirdplace, .bomb-thirdplace {
    background-color: rgba(234, 106, 118,0.7);
}
.table-position div:nth-of-type(n+2), .table-team-name div:nth-of-type(n+2),.table-games div:nth-of-type(n+2),
.table-wins div:nth-of-type(n+2),.table-draws div:nth-of-type(n+2), .table-defeats div:nth-of-type(n+2), .table-goals div:nth-of-type(n+2), .table-points div:nth-of-type(n+2)
{
    background-color: rgba(220, 216, 216,0.7);
}
.table div, .bomb div {
    margin: 1px;
}
.table p, .bomb p {
    padding: 0 10px 0 10px;
}
.bomb-full {
/*    background-image: url("img/foot44.jpg");*/
    background: #f7f7f5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.bomb-full p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bomb-head p {
    font-size: 2.2em;
    padding-bottom: 10px;
    font-weight: 700;
    margin: 10px 0 10px 0;
}
.bomb-position div:nth-of-type(n+2), .bomb-player-name div:nth-of-type(n+2), .bomb-scored div:nth-of-type(n+2), .bomb-team div:nth-of-type(n+2)  {
    background-color: rgba(220, 216, 216,0.7);
}
.bomb-player-name {
    width: 45%;
    text-align: left;
}
.bomb-player-name p {
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bomb-player-name div:first-child {
    text-align: center;
}
.bomb-scored {
     width: 15%;
 }
.bomb-team {
    width: 33%;
}
.bomb-container {
    margin-bottom: 2em;
}
.date-time {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.results-full {
/*    background: url("img/foot66.jpg");*/
    background: #f7f7f5;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    opacity: 1;
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.team-results-full {
/*    background: url("img/foot66.jpg");*/
    background: #f7f7f5;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 1;
    height: auto;
}
.results {
    max-width: 820px;
    margin: 0 auto;
    padding: 15px 0 10px 0;
}
.res-tour {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
}
.res-tour-title {
    text-align: center;
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 10px;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
.res-tour-allmatch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
/*    margin: 0 auto;*/
    line-height: 2;
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
}
.results-container {
    display: flex;
    width: 450px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin: 0 7px 7px 0;
/*    margin: 0 0 10px 0;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);*/
}
.res-title {
    color: #FFF;
}
.res-teams {
    width: 60%;
}
.res-teams a {
    display: flex;
    align-items: center;
}
.res-teams img {
    width: 25px !important;
    margin: initial !important;
}
.res-teams p {
    text-align: center !important;
    padding-left: 10px !important;
    margin: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
.res-score {
    width: 10%;
}
.res-date {
    width: 30%;
}
.mobile {
    display: none;
}
.results-bg {
    border-radius: 10px;
}
.results-block {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 10px;
    line-height: 2;
    padding-top: 10px;
    font-weight: 600;
}
.results-block img {
    margin: 0 auto;
    width: inherit;
}
.photo-team-bg {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 10px auto;
    padding: 5px 0;
    background-color: #fff;
    border-radius: 5px;
    display: none;
}
.logo-team-bg {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px auto;
    padding: 5px 0;
    background-color: #fff;
    border-radius: 5px;
}
.main-container {
    display: flex;
    width: 1150px;
    margin: 0 auto;
    min-height: 100%;
}
.score-tables {
    padding: 15px 0 10px 0;
    width: 35%;
}
.results-block p, .table-header {
    text-align: center;
    text-overflow: ellipsis;
    white-space: normal;
}
.results-block p {
    font-size: 2rem;
    font-weight: 600;
    padding-left: 3px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin: 10px 0 10px 0;
}
.results-block p:last-child {
    font-size: 1rem;
}
.results-all-tour {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    line-height: 2;
    text-align: center;
    font-size: 1.1em;
    padding-top: 10px;
    font-weight: 600;
}
.results-tour-title span{
    display: none;
}

.results-tour {
    display: flex;
    width: 80%;
    background-color: rgba(220,216,216, 0.8);
    padding: 15px;
    border-radius: 5px;
    margin: 0 7px 7px 0;
}
.results-tour-title  {
    text-align: left;
}
.results-team1 img {
    width: 24px;
    padding-left: 5px;
}
.results-team2 img {
    width: 24px;
    padding-right: 5px;
}
.results-tour p {
    overflow: hidden;
    text-overflow: ellipsis;
}
.results-date, .results-team1, .results-team2 {
    width: 30%;
}
.results-date p, .results-team1 p, .results-team2 p {
    width: 90%;
}
.results-team1 p {
    text-align: right;
}
.results-team2 p {
    text-align: left;
}
.results-score {
    width: 10%;
    padding: 0 5px;
}
.table-header {
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 20px;
}
.tbd p {
    font-size: 1.8rem !important;
}

/*input validation*/
input[invalid-input] {
    border: 1px solid #b61936 !important;
    border-radius: 4px;
}

/*match review*/
.matches-full {
    /*background: url("img/foot77.jpg");*/
    background: #f7f7f5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.matches-full p {
    white-space: normal;
}
.matches-null {
    height: 2vh;
}
.matches-bg {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 20px;
}
.match-res-date {
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}
.tour-number  {
    display: flex;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 600;
    padding-top: 20px;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.match-all-button {
    padding: 10px 15px;
    text-align: center;
    margin-top: auto;
    width: 100%;
}
.table-button {
    font-size: 1em;
}
.review-match {
    display: flex;
    justify-content: center;
}
.review-head {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 20px 0;
}
.review-head p {
    text-align: center;
}
.review-team1, .review-team2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
}
.review-team1 a, .review-team2 a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-team1 img, .review-team2 img {
    padding-bottom: 10px;
    width: 50%;
}
.review-team1 p, .review-team2 p {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 175px;
}

.review-score {
    width: 150px;
    padding: 34px 0;
}
.review-score p {
    font-size: 3rem;
    font-weight: 600;
}
.review-score-empty {
    padding: 34px 0;
}
.review-score-empty span {
    font-size: 1.8em;
    font-weight: 400;
}
.details-match {
    display: flex;
    font-size: 1.3rem;
}
.details-match p {
    overflow: hidden;
}
.details-match img {
    width: 16px;
    height: 16px;
}
.details-team1 {
    padding-right: 20px;
    width: 50%;
}
.details-team2 {
    padding-left: 20px;
    width: 50%;
}

.team1-goals, .results-team1 {
    justify-content: flex-end;
}
.team1-goals, .team2-goals,.results-team1, .results-team2 {
    display: flex;
    align-items: center;
}
.team1-goals, .team2-goals {
    padding-bottom: 5px;
}
.team1-goals img {
    padding-left: 5px;
}
.team2-goals img {
    padding-right: 5px;
}
.team1-goals p {
    font-size: 1.1rem;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
}
.team2-goals p {
    font-size: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.minute {
    font-size: 0.8rem;
}
.match-statistics {
    margin: 0 auto;
    text-align: center;
    width: 100%;
/*    display: none;*/
}
.match-statistics-title {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 20px 0;
}
.statistics-item {
    padding: 10px 0;
}
.statistics-item-info {
    display: flex;
    justify-content: space-between;
}
.statistics-item-bar {
    display: flex;
    justify-content: space-between;
}
.item-bar-team1 {
    display: flex;
    justify-content: flex-end;
}
.progress-wrap {
    flex: 0 1 49%;
    height: 10px;
    background-color: #eee;
    margin: 5px 0;
}
.progress-wrap div{
    height: 10px;
    width: 100%;
    transition: width 1s;
}
.progress-wrap div:first-child {
    width: 0;
}
.bar-more {
    background-color: #f44336;
}
.bar-less {
    background-color: #000;
}
.match-video {
    padding-top: 25px;
}
.match-video iframe {
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
}
.match-video p {
    text-align: center;
    font-size: 1.8rem;
}
.team-players {
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 20px;
    width: 100%;
}
.all-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px
}
.all-players p {
    overflow: hidden;
    text-overflow: ellipsis;
}
.results-container .no-players {
    width: 100%;
    text-align: center;
}
.team-results-full h3 {
    font-size: 1.5rem;
    font-weight: 600;
/*    color: #fff;*/
    text-align: center;
/*    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
.player-card {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    cursor: pointer;
    width: 230px;
}
.player-score-name h4{
    max-width: 187px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.player-photo {
    position: relative;
    height: 140px;
    width: 230px;
    padding-top: 5px;
    background-color: #e6edeb;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}
.player-photo img {
    position: absolute;
    width: 128px;
    left: 51px;
}
.player-1digit {
    position: relative;
    top: 20%;
    left: 46% ;
    font-size: 2rem;
}
.player-2digit {
    position: relative;
    top: 20%;
    left: 43% ;
    font-size: 2rem;
}
.player-info {
    display: flex;
    padding-top: 10px;
    background-color: #fff;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.player-logo img {
    width: 36px;
    margin-left: 7px;
    border-radius: 50%;
    background-color: #fff;
}
.player-score-name {
    padding-left: 7px;
    padding-bottom: 7px;
}
.player-score-name p:first-child {
    font-size: 1.2rem;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 10px;
}
.player-card-main {
    display: flex;
    width: 850px;
    max-width: 850px;
    margin: 0 auto;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}
.player-card-photo {
    margin: 20px;
}
.player-card-photo img {
    max-width: 200px;
    width: 100%;
}
.user-card-photo i {
    font-size: 9rem;
}
.user-card-photo {
    margin: 20px;
    display: flex;
    align-items: center;
}
.player-card-info {
    padding-left: 10px;
    line-height: 1.6;
    padding: 10px 10px;
}
.player-card-info p {
/*    white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}
.player-card-info p:first-child {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 5px;
}
.player-card-info p:nth-child(2n+2) {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.user-card-info p {
    font-size: 1rem !important;
    font-weight: 500 !important;
    margin-bottom: 10px !important;
}
.user-card-info .title {
    margin-bottom: 5px !important;
    font-weight: 600 !important;
}
.user-card-info h2 {
    margin-bottom: 10px;
}
.matches-full h1 {
    padding-top: 0.5em;
    margin: 0 auto;
}
.player-card-info span {
    padding-left: 3px;
}
.player-card-logo-team a, .player-card-logo-team-score a {
    display: flex;
    align-items: center;
}
.player-card-logo-team a>p {
    padding-left: 5px;
}
.player-card-logo-team img {
/*    width: 24px;*/
    height: 35px;
}
.player-card-logo-team-score {
    display: flex;
}
.player-card-logo-team-score img {
    width: 24px;
    height: 24px;
}
.player-card-logo-team-score p:last-child {
    padding-left: 5px;
}
.auto {
    width: auto;
}
.full {
    width: 100%;
}
.league-team-bg {
    width: 300px;
}
.league-team-bg p:last-child {
    font-size: 2rem;
}
.league-results-container {
    margin: 7px auto;
}
.mobile-head {
    display: none;
}
.instagram-widget {
    margin-top: 1em;
}
footer {
/*    min-height: 200px;*/
    background-color: #ffffff;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem .5rem;
}
.landing-container {
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}
.footer-item {
    font-weight: 400;
    line-height: 2;
}
.footer-logo {
    padding-bottom: 1rem;
}
.footer-logo a, .footer-powered a {
    display: flex;
    align-items: center;
}
.footer-logo img {
    width: 36px;
    height: 36px;
    margin-right: 0.5rem;
}
.footer-powered {
    display: flex;
}
.footer-powered img {
    width: 36px;
    margin-right: 0.5rem;
}
.footer-logo p {
    font-size: 1.4rem;
}
.footer-bottom {
    margin-top: 1rem;
    padding: 2rem 1rem;
    border-top: 1px solid #d4d4d4;
    color: #6E6E6E;
}
.footer-address a, .footer-phone a, .footer-social, .footer-shop, .footer-shop a {
    display: flex;
    align-items: center;
}
.footer-shop p {
    padding-left: 1rem;
}
.footer-social {
    width: 150px;
    justify-content: space-around;
}
.center-text {
    text-align: center;
}
@media (prefers-color-scheme: light) {
  #map {
      display: none;
  }
}
.description-text {
    margin: 0 auto !important;
/*    text-align: left;
    padding: 1rem;
    width: 60%;*/
}
.description-text span {
    word-break: break-word;
    line-height: 1.5rem;
}
.description-text h1, .description-text h2 {
    padding-top: 0;
    padding-bottom: 10px;
}
.description-text div > ul > li, .description-text div > ol > li {
    line-height: 1.6em;
}
.table table {
    border-collapse: collapse;
}
.table td, .table th {
    border: 1px solid;
    min-width: 2em;
    padding: .4em;
}
.description-text div {
    width: 100%;
}
.description-text p {
    font-size: inherit;
    word-break: break-word;
    text-align: inherit;
    line-height: 2em;
}
.cards {
    padding: 20px 0 20px 0;
}
.goals {
    padding-bottom: 20px;
}
.goals p {
    margin: 0 auto;
}
.card-team-one {
  display: inline-block;
  width: 0.7em;
  height: 1em;
  background-size: 100% 100%;
  transform: rotateZ(25deg);
  margin-left: 10px;
}
.card-team-two {
  display: inline-block;
  width: 0.7em;
  height: 1em;
  background-size: 100% 100%;
  transform: rotateZ(25deg);
  margin-right: 10px;
}
.yellow-card {
  background-image: url(img/yellow_card.svg);
}
.red-card {
  background-image: url(img/red_card.svg);
}
.dropbtn {
  background-color: #0D0B20;
  color: #fff;
}
.dark {
    display: none;
}
.video-description {
    padding-bottom: 25px;
}
input.valid {
    border: 1px solid #4caf50 !important;
    border-radius: 4px;
}
input.invalid {
    border: 1px solid #b61936 !important;
    border-radius: 4px;
}
@media screen and (max-width: 1160px) {
    .main-container {
        width: 100%;
        flex-direction: column;
    }
    .table-button {
        font-size: 1.5em;
    }
    .vs-container, .score-tables {
        width: 100%;
    }
    .score-tables {
        padding: 0;
    }
    .table, .bomb {
        max-width: 530px
    }
    .lang-switcher:hover .lang-list {right:0;}
}
@media screen and (max-width: 1025px) {
    .sign-in:hover .sign-in-list {right:0;}
}
@media screen and (max-width: 979px) {
    .vs-container, .score-tables {
        width: 100%;
    }
    .score-tables {
        padding: 0;
        min-height: 32vh;
    }
    .lang-switcher {
        margin-right: 10px;
    }
}
@media screen and (max-width: 920px) {
    .main-league {
        flex-direction: column;
    }
    .main-league .main-about:not(:last-child), .main-cup .main-about:not(:last-child) {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 900px) {
    .league-results-container {
        margin: 7px auto !important;
    }
    .main-head {
        display: none;
    }
    .mobile-head {
        display: block;
        width: 95%;
        margin-top: 1em;
        margin-bottom: 10px;
    }
    .mobile-head h1 {
        padding-bottom: 10px;
    }
    .main-text, .main-where-when {
        margin-bottom: 0;
    }
    .team-captain {
        flex-direction: column;
    }
    .team-name {
        margin-bottom: 5px;
    }
    .registration-photo {
        height: 100vh;
    }
    .matches-bg {
        width: 95%;
    }

    .player-card-main {
        width: 90%;
    }
    .main-where-when, .main-text {
        flex-direction: column;
    }
    .main-where, .main-when, .main-about, .main-video {
        width: 95%;
        margin: 10px auto;
    }
    .main-about-team-match, .main-about-league {
        padding-bottom: 10px;
    }
    .main-text, .main-where-when, .main-league, .main-cup {
        padding: 0;
    }
    .main-league .main-about:not(:last-child), .main-cup .main-about:not(:last-child) {
        margin-right: auto;
        max-width: none;
    }
    .main-league .main-about:last-child {
        margin-right: auto;
        max-width: none;
    }
}
@media screen and (max-width: 720px) {
    .results-date {
        display: none;
    }
    .results-tour-title span{
        display: inline-block;
        margin-left: 10px;
    }
}
@media screen and (max-width: 667px) {
    .login-form, .user-registration-form {
        margin-right: 1em;
        margin-left: 1em;
    }
    .forgot-description {
        max-width: none;
    }
    .auto {
        width: auto !important;
    }
    .full {
        width: 100% !important;
    }
    .league {
        width: auto !important;
    }
    .main-head {
        height: 20vh;
    }
    .main-about h1 {
        font-size: 1.6em;
    }
    .main-about h3 {
        font-size: 1.6em;
        padding: 15px 0;
    }
    .header-text {
        display: none;
    }

    .registration-photo {
        height: 100vh;
    }
    .reg-end {
        padding-top: 20vh;
    }
    .reg-end p {
        font-size: 1.9rem;
    }
    .player1-3 {
        flex-direction: column;
    }
    /*burger-icon*/
    #nav-icon {
        width: 32px;
        height: 32px;
        position: relative;
        margin: 15px auto;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    #nav-icon span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #dcd8d8;
        border-radius: 6px;
        opacity: 1;
        left: 20px;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    #nav-icon span:nth-child(1) {
        top: 0px;
    }

    #nav-icon span:nth-child(2) {
        top: 12px;
    }

    #nav-icon span:nth-child(3) {
        top: 24px;
    }
    #nav-icon.open span:nth-child(1) {
        top: 12px;
        transform: rotate(135deg);
    }

    #nav-icon.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    #nav-icon.open span:nth-child(3) {
        top: 12px;
        transform: rotate(-135deg);
    }
    .main-photo {
/*        height: 100vh ;*/
    }
    .header-first-block {
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
    }
    .header-null {
        flex-grow: 1;
        display: block;
    }
    /*burger-menu*/

    /*burger-icon*/
    .dropdown {
        display: none;
    }
    .results-team1, .results-team2 {
        width: 40%;
    }
    .results-score {
        width: 20%;
    }
    .results-bg {
        margin-bottom: 10px;
    }
    .table-full  {
        height: 100vh;
    }
    .bomb-full {
        height: 100vh;
    }
    .table, .bomb {
        width: 98%;
        line-height: 2;
    }
    .main-container {
        flex-direction: column;
    }
    .vs-container {
        width: 100%;
    }
    .league {
       justify-content: center;
    }
    .table-head p {
        font-size: 1.4em;
    }
    .table-position, .bomb-position {
        width: 7%;
    }
    .table-team-name {
        width: 45%;
        text-align: left;
    }
    .table-wins, .table-draws, .table-defeats {
        display: none;
    }
    .table-team-name p {
        padding-left: 5px;
    }
    .table-team-name div:first-child {
        text-align: center;
    }
    .table-offset {
        width: 40px;
    }
    .table-goals {
        width: 60px;
    }
    .bomb-head p {
        padding-bottom: 0;
        font-size: 1.5em;
    }
    .bomb-matches {
        min-width: 10%;
    }
    .bomb-player-name {
        width: 43%;
    }
    .bomb-scored {
        width: 22%;
    }
    .bomb-matches {
        display: none;
    }
    .bomb-team {
        width: 27%;
    }
    .review-head {
        width: 320px;
    }
    .matches-bg {
        width: 90%  ;
    }

    .review-team1 img, .review-team2 img {
        width: 72px;
        height: 72px;
    }
    .review-team1 p, .review-team2 p {
        font-size: 1.3rem;
        width: 120px;
    }
    .review-score p {
        font-size: 1.6rem;
    }
    .results-container {
        width: 90% !important;
        padding: 5px;
        margin: 7px 0;
    }
    .details-team1, .details-team2 {
        padding-right: 10px;
    }
    .team-results-full {
/*        height: 100vh;*/
        display: block;
    }
    .details-match img {
        width: 12px;
        height: 12px;
    }
    .player-card, .player-photo{
        width: 150px;
    }
    .player-info {
        max-width: 150px;
    }
    .player-photo {
        height: 120px;
    }
    .player-photo img {
        width: 96px;
        left: 27px;
    }
    .player-1digit {
        font-size: 1.5rem;
    }
    .player-2digit {
        top: 20%;
        left: 42% ;
        font-size: 1.5rem;
    }
    .player-card-main {
        flex-direction: column;
    }
    .player-card-photo {
        margin: 0 auto;
        margin-top: 20px;
    }
    .player-card-info p:first-child {
        text-align: center;
    }
    .player-score-name h4 {
        max-width: 107px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
    .footer-social {
        padding-top: .5em;
    }
    .footer-powered, .footer-social, .footer-shop {
        margin: 0 auto;
    }
    .logo-team-bg {
        width: 50%;
    }
    .match-video iframe {
        height: auto;
        width: auto;
    }
    .team-players {
        margin: 0 0 20px;
    }
    .tbd p {
        font-size: 1rem !important;
    }
    .header-icon {
        display: none;
    }
}
@media (min-width: 600px) {
    .MuiGrid-grid-sm-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }
}
/*Dark-mode*/
@media (prefers-color-scheme: dark) {
:root {
    --main-bg-color: #121212;
    --main-text-color: #e1e1e1;
    --main-sf-color: #1d1d1d;
    --main-on-button-color: #bb86fc;
    --main-on-button-color-inactive: #3a2d49;
    --main-text-on-button-color: #000000;
    --main-text-on-button-color-inactive: #dab1fe;
    --main-input-field: #3d3d463d;
    --main-progress-bar-less-color: #9f57e2;
    --main-progress-bar-more-color: #ff0266;
}
    body {
        background: var(--main-bg-color);
    }
    .main-head-title .main-head-logo {
        background-image: url(img/footgo-light-icon.png);
    }
    .main-photo, .prev-seasons, .registration-photo, .login-page, .registration-page {
        background: var(--main-bg-color);
    }
    .main-head-title, .main-where, .main-when, .main-about, .main-video, .logo-team-bg, .player-card-main, .matches-bg, .results-container, .team-name, .capitan, .footer-container, .footer-bottom, .login-form, .user-registration-form, .photo-team-bg {
        background: var(--main-sf-color);
        color: var(--main-text-color);
    }
    .request-block {
        background: var(--main-on-button-color-inactive);
        color: var(--main-text-on-button-color-inactive);
    }
    .request-block:hover {
        background: var(--main-on-button-color);
        color: #181220;
    }
    .main-when ul span {
        background: rgba(255,255,255,0.4);
    }
    .header-text p, .res-tour-title, a, a:hover, .table div, .bomb div, .results-block p, .team-results-full h3, .bomb-head p, .season-list, .dropbtn, .table-header, .goals p, .table-head p, .matches-full h1 {
        color: var(--main-text-color);
    }
    .main-about-team img {
        background: url(/img/team-icon-dark.png) no-repeat;
    }
    .main-about-match img {
        background: url(/img/soccer-ball-dark.png) no-repeat;
    }
    .main-about-team img, .main-about-match img {
        display: block;
        box-sizing: border-box;
        background-size: 100%;
        padding-left: 72px;
        height: 72px;
    }
    .light {
        display: none !important;
    }
    .main-head-teamlogo img {
        display: block;
        box-sizing: border-box;
    }
    .main-where iframe, .instagram-iframe iframe {
        filter: contrast(100%) brightness(40%);
    }
    .description-text {
        box-shadow: none;
    }
    .res-teams img {
        display: block;
        box-sizing: border-box;
    }
    .table-title, .bomb-title {
        background: rgba(39, 42, 48, 0.7);
    }
    .table-position div:nth-of-type(n+2), .table-team-name div:nth-of-type(n+2), .table-games div:nth-of-type(n+2), .table-wins div:nth-of-type(n+2), .table-draws div:nth-of-type(n+2), .table-defeats div:nth-of-type(n+2), .table-goals div:nth-of-type(n+2), .table-points div:nth-of-type(n+2), .bomb-position div:nth-of-type(n+2), .bomb-player-name div:nth-of-type(n+2), .bomb-scored div:nth-of-type(n+2), .bomb-team div:nth-of-type(n+2) {
        background: rgba(13, 13, 13, 0.7);
    }
    .table-team-name img {
        display: block;
        box-sizing: border-box;
    }
    .table-secondplace img {
    }
    .logo-team-bg img, .photo-team-bg img {
        display: block;
        box-sizing: border-box;
        width: 50%;
    }
    .player-photo{
        background: #14332e;
    }
    .player-photo img {
        display: block;
        box-sizing: border-box;
        padding-left: 128px;
        height: 128px;
        width: 128px;
        background: url(/img/tshirt-dark.png) no-repeat;
        background-size: 100%;
    }
    header, footer, .player-info, .bomb-position div, .bomb-player-name div, .bomb-scored div, .bomb-team div, .table-title, .dropbtn, .sign-in-list, .lang-list {
        background: var(--main-sf-color);
    }
    input[type=text], input[type=tel], input[type=email], input[type=password] {
        color: var(--main-text-color);
        background: var(--main-input-field);
        border:1px solid var(--main-sf-color);
    }
    .player-card-logo-team img {
        display: block;
        box-sizing: border-box;
        background-size: 100%;
    }
    .review-team1 img, .review-team2 img {
        display: block;
        box-sizing: border-box;
        background-size: 100%;
    }
    @media screen and (max-width: 667px) {
        .player-photo img {
            padding-left: 96px;
            height: 96px;
            width: 96px;
        }
    }
    .results-full, .team-results-full, .bomb-full, .table-full, .matches-full {
        background-color: var(--main-bg-color);
    }
    .main-head {
        background-color: var(--main-bg-color);
        background: url(img/mainphoto-dark.jpg);
        background-position: center;
        background-size: cover;
    }
    .results-background {
        background: url(img/foot66-dark.jpg);
        background-position: center;
        background-size: cover;
    }
    .player-background {
        background: url(img/foot77-dark.jpg);
        background-position: center;
        background-size: cover;
    }
    .gametable-background {
        background: url(img/foot22-dark.jpg);
        background-position: center;
        background-size: cover;
    }
    .bombardier-background {
        background: url(img/foot44-dark.jpg);
        background-position: center;
        background-size: cover;
    }
    .league-team-background {
        background: url(img/foot66-dark.jpg);
        background-position: center;
        background-size: cover;
    }
    .signup-background {
        background: url(img/foot33-dark.jpg);
        background-position: center;
        background-size: cover;
    }
    .empty-text-error, .login-error, .forgot-error, .registration-error {
        color: #cf6679;
        text-align: center;
    }
    .forgot-success {
        color: #03dac6;
        text-align: center;
    }
    .button-contained-primary {
        color: rgba(0, 0, 0, 0.87);
        background-color: #90caf9;
    }
    .button-contained-primary:hover {
        background-color: rgb(100, 141, 174);
    }
    .button-typography-color-primary {
        color: #90caf9;
    }
    .bar-less {
        background: var(--main-progress-bar-less-color);
    }
    .bar-more {
        background: var(--main-progress-bar-more-color);
    }
    .progress-wrap {
        background: var(--main-text-color);
    }
    .table tr td, .table tr th {
        color: var(--main-text-color);
        border-color: var(--main-text-color);
    }
}
/*Dark-mode end*/