
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    min-width: 300px;
}
header   {
    background-color: #0D0B20;
}
.header-full {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
}
.header-first-block {
    display: flex;
}
.header-img {
    padding: 0.3em;
    max-height: 48px;
    max-width: 48px;
}
a {
    text-decoration: none;
}
.header-null {
    display: none;
}
.header-text {
    display: flex;
}
.header-text p {
    color: #fff;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
}
.header-text p:hover {
    color: #868686;
}

.main-photo {
    background: url("img/foot1.jpg");
    background-position: center;
    background-size: cover;
    height: calc(100vh - 61.375px) ;
}
.slogan-text {
    display: flex;
    flex-direction: column;
    background-color: rgba(2,3,14,0.3);
    max-width: 550px;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
}
.slogan-null {
    height: 25vh;
}
.slogan-text h1 {
    font-size: 3em;
    padding: 20px 30px 0 30px;
    color: #dfdfe5;
}
.slogan-text h3 {
    font-size: 2.2em;
    padding: 0 30px 20px 30px;
    color: #c4c5c6;
}
.slogan-button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.main-input-button {
    width: auto;
    height: auto;
    color: #fff;
    background-color: #42a444;
    font-size: 2em;
    padding: 10px 30px;
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.main-input-button:hover {
    background-color: #347e36;
    border-radius: 10px;
}

.registration-photo {
    background: url("img/foot33.jpg");
    background-position: center;
    background-size: cover;
    /*height: 100vh;*/
    height: calc(100vh - 60.375px);
}
/*.registration-photo { background:transparent; }*/
/*.registration-photo:after {*/
    /*content:"";*/
    /*position:fixed;*/
    /*left:0;*/
    /*top:0;*/
    /*right:0;*/
    /*bottom:0;*/
    /*z-index:-1;*/
    /*display:block;*/
    /*background:url("img/foot33.jpg") no-repeat 50% 50%;*/
    /*background-size:cover;*/
/*}*/

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 1.2em;
    text-align: center;
}
input[type=text], input[type=tel], input[type=email] {
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.team-capitan {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 20px;
}
.team-name {
    background-color: rgba(220,216,216, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;
}
.capitan {
    background-color: rgba(220,216,216, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;

}
.capitan p, .team-name p {
    font-size: 1.2em;
    font-weight: 700 ;
}
#success {
    display: none;
}
.note {
    text-align: left;
    margin-bottom: 1em;
}
.player-bg {
    background-color: rgba(220,216,216, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;
}
.player p {
    font-weight: 600;
}
.player1-3 {
    display: flex;
    justify-content: space-around;
}
input[type=text] {
    width: 80%;
}
input[type=submit] {
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.reg-input-button {
    width: auto;
    height: auto;
    background-color: #42a444;
    font-size: 1.5em;
    color: #fff;
    padding: 7px 30px;
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.reg-input-button:hover {
    background-color: #347e36;
    border-radius: 10px;
}

.table-full {
    background: url("img/foot22.jpg");
    background-position: center;
    background-size: cover;
    height: calc(100vh - 60.375px);
}
.table-head, .bomb-head {
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}
.table-head p {
    font-size: 2.2em;
    padding-bottom: 10px;
    font-weight: 700;
    color: #fff;
}
.table, .bomb {
    display: flex;
    justify-content: center;
    line-height: 2.5;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
}
.table-position, .bomb-position {
    width: 5%;
}
.table-team-name {
    min-width: 200px;
    text-align: left;
}
    .table-team-name p {
        padding-left: 5px;
    }
    .table-team-name div:first-child {
        text-align: center;
    }
.table-offset {
    width: 40px;
}
.table-goals {
    width: 60px;
}
.table-title, .bomb-title {
    background-color: rgba(108, 118, 136, 0.6);
}
.table-firstplace, .bomb-firstplace {
    background-color: rgba(143, 217, 71,0.7);
}
.table-secondplace, .bomb-secondplace{
    background-color: rgba(217, 212, 71,0.7);
}
.table-thirdplace, .bomb-thirdplace {
    background-color: rgba(234, 106, 118,0.7);
}
.table-position div:nth-of-type(n+5), .table-team-name div:nth-of-type(n+5),.table-games div:nth-of-type(n+5),
.table-wins div:nth-of-type(n+5),.table-draws div:nth-of-type(n+5), .table-defeats div:nth-of-type(n+5), .table-goals div:nth-of-type(n+5), .table-points div:nth-of-type(n+5), .bomb-position div:nth-of-type(n+5),
.bomb-player-name div:nth-of-type(n+5), .bomb-scored div:nth-of-type(n+5), .bomb-scored-pen div:nth-of-type(n+5),
.bomb-matches div:nth-of-type(n+5), .bomb-team div:nth-of-type(n+5)
{
    background-color: rgba(220, 216, 216,0.7);
}

.table div, .bomb div {
    margin: 1px;
}

.bomb-full {
    background: url("img/foot44.jpg");
    background-position: center;
    background-size: cover;
    height: calc(100vh - 60.375px);
}
.bomb-head p {
    font-size: 2.2em;
    padding-bottom: 10px;
    font-weight: 700;
}
.bomb-player-name {
    min-width: 30%;
    text-align: left;
}
.bomb-player-name p {
    padding-left: 5px;
}
.bomb-player-name div:first-child {
    text-align: center;
}
.bomb-scored {
     min-width: 7%;
 }
.bomb-scored-pen {
    min-width: 10%;
}
.bomb-matches {
    min-width: 5%;
}
.bomb-team {
    min-width: 15%;
}

.results-full {
    background: url("img/foot66.jpg");
    background-size: contain;
    opacity: 1;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
    margin: 0 auto;
    line-height: 2;
    text-align: center;
    font-size: 1.1em;
    padding-top: 30px;
    font-weight: 600;
}
.results-bg {
    background-color: rgba(220,216,216, 0.5);
    padding: 10px;
    border-radius: 10px;
}
.results-block {
    margin: 0 auto;
    padding-bottom: 30px;
}
.results-block p {
    text-align: center;
}
.results-tour-title span{
    display: none;
}

.results-tour {
    display: flex;
    justify-content: space-around;
}
.results-tour-title  {
    text-align: left;
}
.results-date {
    min-width: 100px;
}
.results-team1 {
    min-width: 150px;
    text-align: right;
}
.results-score {
    min-width: 80px;
}
.results-team2 {
     min-width: 150px;
    text-align: left;
}


@media screen and (max-width: 870px) {
    .team-capitan {
        flex-direction: column;
    }
    .team-name {
        margin-bottom: 5px;
    }
    .registration-photo {
        background-position: center;
        background-size: cover;
        height: calc(100vh - 60.375px);
    }
}
@media screen and (max-width: 720px) {
    .results-date {
        display: none;
    }
    .results-tour-title span{
        display: inline-block;
        margin-left: 10px;
    }
}
@media screen and (max-width: 667px) {
    .slogan-null {
        height: 25vh;
    }
    .slogan-text {
        max-width: 400px;
    }
    .slogan-text h1 {
        font-size: 2.3em;
    }
    .slogan-text h3 {
        font-size: 2em;
    }
    .header-text {
        display: none;
    }

    .registration-photo {
        background-position: center;
        background-size: cover;
        height: calc(100vh - 62px);
    }
    .player1-3 {
        flex-direction: column;
    }
    /*burger-icon*/
    #nav-icon {
        width: 32px;
        height: 32px;
        position: relative;
        margin: 15px auto;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    #nav-icon span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #dcd8d8;
        border-radius: 6px;
        opacity: 1;
        left: 20px;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    #nav-icon span:nth-child(1) {
        top: 0px;
    }

    #nav-icon span:nth-child(2) {
        top: 12px;
    }

    #nav-icon span:nth-child(3) {
        top: 24px;
    }
    #nav-icon.open span:nth-child(1) {
        top: 12px;
        transform: rotate(135deg);
    }

    #nav-icon.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    #nav-icon.open span:nth-child(3) {
        top: 12px;
        transform: rotate(-135deg);
    }
    .main-photo {
        height: calc(100vh - 62px) ;
    }
    .header-first-block {
        width: 100%;
        flex-direction: row-reverse;
    }
    .header-null{
        flex-grow: 1;
        display: block;
            }
    /*burger-menu*/

    /*burger-icon*/

    .dropdown {
        display: none;
    }
    .results {
        max-width: 90%;
    }
    .table-full, .bomb-full {
        height: calc(100vh - 62px);
    }
    .table-head p {
        font-size: 1.7em;
    }
    .table-position, .bomb-position {
        width: 40px;
    }
    .table-team-name {
        min-width: 40%;
        text-align: left;
    }
    .table-games, .table-wins, .table-draws {
        display: none;
    }
    .table-team-name p {
        padding-left: 5px;
    }
    .table-team-name div:first-child {
        text-align: center;
    }
    .table-offset {
        width: 40px;
    }
    .table-goals {
        width: 60px;
    }
    .bomb-head p {
        font-size: 1.5em;
    }
    .bomb-matches {
        min-width: 10%;
    }
    .bomb-player-name {
        min-width: 45%;
    }
    .bomb-scored {
        min-width: 15%;
    }
    .bomb-scored-pen, .bomb-matches {
        display: none;
    }
    .bomb-team {
        min-width: 30%;
    }
}
/*input validation*/
input[invalid-input] {
    border: 2px solid red;
    border-radius: 4px;
}